//
// Johnny Bravo Poly
#Box.Johnny
  #a1
    background: #FFCC00
    -webkit-clip-path: polygon( 30.150% 10.625% ,38.150% 57.750% ,25.650% 29.000% )
    clip-path: polygon( 30.150% 10.625% ,38.150% 57.750% ,25.650% 29.000% )
  #a2
    background: #ffcc00
    -webkit-clip-path: polygon( 37.850% 57.750% ,39.475% 72.125% ,30.600% 58.375% )
    clip-path: polygon( 37.850% 57.750% ,39.475% 72.125% ,30.600% 58.375% )
  #a3
    background: #eab78c
    -webkit-clip-path: polygon(34.75% 71.625%, 39.625% 74.375%, 40.6% 83%)
    clip-path: polygon(34.75% 71.625%, 39.625% 74.375%, 40.6% 83%)
  #a4
    background: #ffd112
    -webkit-clip-path: polygon(30% 10.625%, 36.8% 10.5%, 38% 57.75%)
    clip-path: polygon(30% 10.625%, 36.8% 10.5%, 38% 57.75%)
  #a5
    background: #ffcc00
    -webkit-clip-path: polygon(36.7% 10.5%, 46.575% 57.75%, 37.95% 57.75%)
    clip-path: polygon(36.7% 10.5%, 46.575% 57.75%, 37.95% 57.75%)
  #a6
    background: #ffd112
    -webkit-clip-path: polygon(42.125% 3.225%, 51.75% 12.6%, 36.5% 10.6%)
    clip-path: polygon(42.125% 3.225%, 51.75% 12.6%, 36.5% 10.6%)
  #a7
    background: #ffd112
    -webkit-clip-path: polygon(36.6% 10.5%, 51.85% 12.5%, 46.475% 57.75%)
    clip-path: polygon(36.6% 10.5%, 51.85% 12.5%, 46.475% 57.75%)
  #a8
    background: #ffcc00
    -webkit-clip-path: polygon( 51.750% 12.500% ,54.875% 57.750% ,46.375% 57.750% )
    clip-path: polygon( 51.750% 12.500% ,54.875% 57.750% ,46.375% 57.750% )
  #a9
    background: #ffcc00
    -webkit-clip-path: polygon(51.65% 12.5%, 64.275% 21.5%, 54.775% 57.75%)
    clip-path: polygon(51.65% 12.5%, 64.275% 21.5%, 54.775% 57.75%)
  #a10
    background: #ffd112
    -webkit-clip-path: polygon(64.175% 21.5%, 66.3% 38.375%, 54.675% 57.75%)
    clip-path: polygon(64.175% 21.5%, 66.3% 38.375%, 54.675% 57.75%)
  #a11
    background: #f7ce21
    -webkit-clip-path: polygon(63.975% 21.325%, 73.85% 31%, 66.1% 38.575%)
    clip-path: polygon(63.975% 21.325%, 73.85% 31%, 66.1% 38.575%)
  #a12
    background: #ffd112
    -webkit-clip-path: polygon(66.1% 38.375%, 61.725% 57.75%, 54.475% 57.75%)
    clip-path: polygon(66.1% 38.375%, 61.725% 57.75%, 54.475% 57.75%)
  #a13
    background: #f7ce21
    -webkit-clip-path: polygon(73.85% 31%, 75.125% 39.5%, 66% 38.375%)
    clip-path: polygon(73.85% 31%, 75.125% 39.5%, 66% 38.375%)
  #a14
    background: #ffcc00
    -webkit-clip-path: polygon(66% 38.175%, 75.125% 39.5%, 61.525% 57.85%)
    clip-path: polygon(66% 38.175%, 75.125% 39.5%, 61.525% 57.85%)
  #a15
    background: #efc203
    -webkit-clip-path: polygon(75.125% 39.5%, 65.75% 57.75%, 61.425% 57.75%)
    clip-path: polygon(75.125% 39.5%, 65.75% 57.75%, 61.425% 57.75%)
  #a16
    background: #ffcb99
    -webkit-clip-path: polygon( 37.750% 57.625% ,65.750% 57.750% ,42.125% 96.875% )
    clip-path: polygon( 37.750% 57.625% ,65.750% 57.750% ,42.125% 96.875% )
  #a17
    background: #ffcb99
    -webkit-clip-path: polygon(65.65% 57.75%, 61.95% 97.125%, 42% 97%)
    clip-path: polygon(65.65% 57.75%, 61.95% 97.125%, 42% 97%)
  #a18
    background: #ffcc00
    -webkit-clip-path: polygon(65.55% 57.875%, 70.4% 57.625%, 64.3% 71.625%)
    clip-path: polygon(65.55% 57.875%, 70.4% 57.625%, 64.3% 71.625%)
  #a19
    background: #eab783
    -webkit-clip-path: polygon(64.025% 74.875%, 68.4% 73%, 63.275% 82.625%)
    clip-path: polygon(64.025% 74.875%, 68.4% 73%, 63.275% 82.625%)
  #a20
    background: #1a1a1a
    -webkit-clip-path: polygon( 38.500% 72.750% ,51.125% 73.375% ,44.625% 81.625% )
    clip-path: polygon( 38.500% 72.750% ,51.125% 73.375% ,44.625% 81.625% )
  #a21
    background: #eab78c
    -webkit-clip-path: polygon( 51.750% 77.500% ,51.750% 83.625% ,48.500% 81.750% )
    clip-path: polygon( 51.750% 77.500% ,51.750% 83.625% ,48.500% 81.750% )
  #a22
    background: #eab78c
    -webkit-clip-path: polygon( 51.750% 77.375% ,54.875% 81.625% ,51.700% 83.875% )
    clip-path: polygon( 51.750% 77.375% ,54.875% 81.625% ,51.700% 83.875% )
  #a23
    background: #1a1a1a
    -webkit-clip-path: polygon( 52.000% 73.375% ,65.125% 73.375% ,59.125% 81.000% )
    clip-path: polygon( 52.000% 73.375% ,65.125% 73.375% ,59.125% 81.000% )
  #a24
    background: #ffffff
    -webkit-clip-path: polygon( 61.000% 85.250% ,60.500% 91.250% ,54.750% 88.375% )
    clip-path: polygon( 61.000% 85.250% ,60.500% 91.250% ,54.750% 88.375% )
// Deadpool Poly
#Box.Deadpool
  #a1
    background: #bf254d
    -webkit-clip-path: polygon(25.05% 25.675%, 47.35% 91.75%, 26% 70%)
    clip-path: polygon(25.05% 25.675%, 47.35% 91.75%, 26% 70%)
  #a2
    background: #bf254d
    -webkit-clip-path: polygon(36.125% 7.875%, 61.475% 7.875%, 25.05% 25.875%)
    clip-path: polygon(36.125% 7.875%, 61.475% 7.875%, 25.05% 25.875%)
  #a3
    background: #b41b37
    -webkit-clip-path: polygon(61.475% 7.825%, 47.30% 91.75%, 25% 25.875%)
    clip-path: polygon(61.475% 7.825%, 47.30% 91.75%, 25% 25.875%)
  #a4
    background: #b41b37
    -webkit-clip-path: polygon( 61.375% 7.875% ,75.000% 59.750% ,47.250% 91.750% )
    clip-path: polygon( 61.375% 7.875% ,75.000% 59.750% ,47.250% 91.750% )
  #a5
    background: #680f22
    -webkit-clip-path: polygon( 61.375% 7.875% ,75.000% 31.250% ,75.000% 59.750% )
    clip-path: polygon( 61.375% 7.875% ,75.000% 31.250% ,75.000% 59.750% )
  #a6
    background: #540b1e
    -webkit-clip-path: polygon(61.275% 7.875%, 70.625% 14.5%, 75% 31.30%)
    clip-path: polygon(61.275% 7.875%, 70.625% 14.5%, 75% 31.30%)
  #a7
    background: #540b1e
    -webkit-clip-path: polygon( 75.000% 59.750% ,60.750% 86.875% ,47.250% 91.750% )
    clip-path: polygon( 75.000% 59.750% ,60.750% 86.875% ,47.250% 91.750% )
  #a8
    background: #141414
    -webkit-clip-path: polygon( 35.625% 56.625% ,37.500% 81.750% ,36.125% 74.125% )
    clip-path: polygon( 35.625% 56.625% ,37.500% 81.750% ,36.125% 74.125% )
  #a9
    background: #141414
    -webkit-clip-path: polygon( 64.000% 57.750% ,63.750% 76.125% ,62.250% 84.000% )
    clip-path: polygon( 64.000% 57.750% ,63.750% 76.125% ,62.250% 84.000% )
  #a10
    background: #141414
    -webkit-clip-path: polygon( 31.750% 24.875% ,37.375% 65.875% ,28.250% 49.125% )
    clip-path: polygon( 31.750% 24.875% ,37.375% 65.875% ,28.250% 49.125% )
  #a11
    background: #141414
    -webkit-clip-path: polygon( 31.750% 24.875% ,48.625% 48.500% ,37.375% 65.875% )
    clip-path: polygon( 31.750% 24.875% ,48.625% 48.500% ,37.375% 65.875% )
  #a12
    background: #141414
    -webkit-clip-path: polygon( 31.750% 24.875% ,41.875% 29.125% ,48.625% 48.500% )
    clip-path: polygon( 31.750% 24.875% ,41.875% 29.125% ,48.625% 48.500% )
  #a13
    background: #232323
    -webkit-clip-path: polygon( 31.750% 41.125% ,45.750% 48.000% ,30.000% 48.000% )
    clip-path: polygon( 31.750% 41.125% ,45.750% 48.000% ,30.000% 48.000% )
  #a14
    background: #232323
    -webkit-clip-path: polygon( 30.000% 48.000% ,45.750% 48.000% ,36.625% 53.000% )
    clip-path: polygon( 30.000% 48.000% ,45.750% 48.000% ,36.625% 53.000% )
  #a15
    background: #ffffff
    -webkit-clip-path: polygon( 38.500% 44.750% ,44.625% 48.375% ,34.375% 47.500% )
    clip-path: polygon( 38.500% 44.750% ,44.625% 48.375% ,34.375% 47.500% )
  #a16
    background: #ffffff
    -webkit-clip-path: polygon(34.375% 47.4%, 44.625% 48.275%, 39.25% 49.9%)
    clip-path: polygon(34.375% 47.4%, 44.625% 48.275%, 39.25% 49.9%)
  #a17
    background: #000000
    -webkit-clip-path: polygon( 68.125% 24.125% ,51.500% 48.625% ,58.000% 28.625% )
    clip-path: polygon( 68.125% 24.125% ,51.500% 48.625% ,58.000% 28.625% )
  #a18
    background: #000000
    -webkit-clip-path: polygon( 68.125% 24.125% ,72.000% 43.000% ,51.500% 48.625% )
    clip-path: polygon( 68.125% 24.125% ,72.000% 43.000% ,51.500% 48.625% )
  #a19
    background: #000000
    -webkit-clip-path: polygon( 72.000% 43.000% ,64.500% 65.125% ,51.500% 48.625% )
    clip-path: polygon( 72.000% 43.000% ,64.500% 65.125% ,51.500% 48.625% )
  #a20
    background: #000000
    -webkit-clip-path: polygon( 51.500% 48.625% ,64.500% 65.125% ,58.250% 62.000% )
    clip-path: polygon( 51.500% 48.625% ,64.500% 65.125% ,58.250% 62.000% )
  #a21
    background: #191919
    -webkit-clip-path: polygon( 68.250% 41.125% ,70.250% 48.125% ,54.375% 48.000% )
    clip-path: polygon( 68.250% 41.125% ,70.250% 48.125% ,54.375% 48.000% )
  #a22
    background: #191919
    -webkit-clip-path: polygon( 54.375% 48.000% ,70.250% 48.125% ,59.125% 53.000% )
    clip-path: polygon( 54.375% 48.000% ,70.250% 48.125% ,59.125% 53.000% )
  #a23
    background: #ffffff
    -webkit-clip-path: polygon( 60.625% 45.375% ,65.625% 47.500% ,55.625% 48.625% )
    clip-path: polygon( 60.625% 45.375% ,65.625% 47.500% ,55.625% 48.625% )
  #a24
    background: #ffffff
    -webkit-clip-path: polygon(65.625% 47.4%, 59.5% 50.525%, 55.625% 48.525%)
    clip-path: polygon(65.625% 47.4%, 59.5% 50.525%, 55.625% 48.525%)
// Batman Poly
#Box.Batman
  #a1
    background: #393a3c
    -webkit-clip-path: polygon( 1.500% 33.325% ,34.000% 33.325% ,19.625% 38.700% )
    clip-path: polygon( 1.500% 33.325% ,34.000% 33.325% ,19.625% 38.700% )
  #a2
    background: #0c0e09
    -webkit-clip-path: polygon( 1.700% 33.125% ,19.825% 38.500% ,16.075% 45.750% )
    clip-path: polygon( 1.700% 33.125% ,19.825% 38.500% ,16.075% 45.750% )
  #a3
    background: #252526
    -webkit-clip-path: polygon( 34.000% 33.225% ,36.875% 38.975% ,19.625% 38.600% )
    clip-path: polygon( 34.000% 33.225% ,36.875% 38.975% ,19.625% 38.600% )
  #a4
    background: #0c0e09
    -webkit-clip-path: polygon( 19.625% 38.500% ,36.875% 38.875% ,36.375% 54.000% )
    clip-path: polygon( 19.625% 38.500% ,36.875% 38.875% ,36.375% 54.000% )
  #a5
    background: #252526
    -webkit-clip-path: polygon( 19.725% 38.500% ,36.475% 54.000% ,15.975% 45.750% )
    clip-path: polygon( 19.725% 38.500% ,36.475% 54.000% ,15.975% 45.750% )
  #a6
    background: #393a3c
    -webkit-clip-path: polygon( 15.875% 45.550% ,36.375% 53.800% ,15.750% 52.300% )
    clip-path: polygon( 15.875% 45.550% ,36.375% 53.800% ,15.750% 52.300% )
  #a7
    background: #1a1a1a
    -webkit-clip-path: polygon( 36.75% 38.875% ,50.000% 43.250% ,36.275% 54.100% )
    clip-path: polygon( 36.75% 38.875% ,50.000% 43.250% ,36.275% 54.100% )
  #a8
    background: #393a3c
    -webkit-clip-path: polygon( 51.000% 42.250% ,50.000% 67.250% ,38.250% 52.500% )
    clip-path: polygon( 51.000% 42.250% ,50.000% 67.250% ,38.250% 52.500% )
  #a9
    background: #898b86
    -webkit-clip-path: polygon( 38.250% 52.500% ,50.000% 67.250% ,36.375% 54.000% )
    clip-path: polygon( 38.250% 52.500% ,50.000% 67.250% ,36.375% 54.000% )
  #a10
    background: #898b86
    -webkit-clip-path: polygon( 61.750% 52.500% ,50.000% 67.250% ,63.625% 54.000% )
    clip-path: polygon( 61.750% 52.500% ,50.000% 67.250% ,63.625% 54.000% )
  #a11
    background: #393a3c
    -webkit-clip-path: polygon( 50.000% 42.250% ,50.000% 67.250% ,61.750% 52.500% )
    clip-path: polygon( 50.000% 42.250% ,50.000% 67.250% ,61.750% 52.500% )
  #a12
    background: #1a1a1a
    -webkit-clip-path: polygon( 63.25% 38.875% ,50.000% 43.250% ,63.725% 54.100% )
    clip-path: polygon( 63.25% 38.875% ,50.000% 43.250% ,63.725% 54.100% )
  #a13
    background: #393a3c
    -webkit-clip-path: polygon( 84.125% 45.550% ,63.625% 53.800% ,84.250% 52.300% )
    clip-path: polygon( 84.125% 45.550% ,63.625% 53.800% ,84.250% 52.300% )
  #a14
    background: #252526
    -webkit-clip-path: polygon( 80.275% 38.500% ,63.525% 54.000% ,84.025% 45.750% )
    clip-path: polygon( 80.275% 38.500% ,63.525% 54.000% ,84.025% 45.750% )
  #a15
    background: #0c0e09
    -webkit-clip-path: polygon( 80.375% 38.500% ,63.125% 38.875% ,63.625% 54.000% )
    clip-path: polygon( 80.375% 38.500% ,63.125% 38.875% ,63.625% 54.000% )
  #a16
    background: #252526
    -webkit-clip-path: polygon( 66.000% 33.225% ,63.125% 38.975% ,80.375% 38.600% )
    clip-path: polygon( 66.000% 33.225% ,63.125% 38.975% ,80.375% 38.600% )
  #a17
    background: #0c0e09
    -webkit-clip-path: polygon( 98.300% 33.125% ,80.175% 38.500% ,83.925% 45.750% )
    clip-path: polygon( 98.300% 33.125% ,80.175% 38.500% ,83.925% 45.750% )
  #a18
    background: #393a3c
    -webkit-clip-path: polygon( 98.500% 33.325% ,66.000% 33.325% ,80.375% 38.700% )
    clip-path: polygon( 98.500% 33.325% ,66.000% 33.325% ,80.375% 38.700% )
  #a19
    background: #0c0e09
    -webkit-clip-path: polygon( 46.75% 40.750% ,50.000% 43.250% ,42.625% 41.125% )
    clip-path: polygon( 46.75% 40.750% ,50.000% 43.250% ,42.625% 41.125% )
  #a20
    background: #0c0e09
    -webkit-clip-path: polygon( 47.125% 34.375% ,50.000% 43.250% ,46.375% 40.750% )
    clip-path: polygon( 47.125% 34.375% ,50.000% 43.250% ,46.375% 40.750% )
  #a21
    background: #0c0e09
    -webkit-clip-path: polygon( 48.000% 38.000% ,51.000% 38.000% ,50.000% 43.250% )
    clip-path: polygon( 48.000% 38.000% ,51.000% 38.000% ,50.000% 43.250% )
  #a22
    background: #0c0e09
    -webkit-clip-path: polygon( 52.000% 38.000% ,49.000% 38.000% ,50.000% 43.250% )
    clip-path: polygon( 52.000% 38.000% ,49.000% 38.000% ,50.000% 43.250% )
  #a23
    background: #0c0e09
    -webkit-clip-path: polygon( 52.825% 34.375% ,50.000% 43.250% ,53.625% 40.750% )
    clip-path: polygon( 52.825% 34.375% ,50.000% 43.250% ,53.625% 40.750% )
  #a24
    background: #0c0e09
    -webkit-clip-path: polygon( 53.25% 40.750% ,50.000% 43.250% ,57.375% 41.125% )
    clip-path: polygon( 53.25% 40.750% ,50.000% 43.250% ,57.375% 41.125% )
// Goku Poly
#Box.Goku
  #a1
    -webkit-clip-path: polygon(41.288666666666664% 76.96766666666666%, 24.077333333333332% 75.77466666666668%, 38.52633333333333% 67.25699999999999%, )
    clip-path: polygon(41.288666666666664% 76.96766666666666%, 24.077333333333332% 75.77466666666668%, 38.52633333333333% 67.25699999999999%, )
    background: #060808
  #a2
    -webkit-clip-path: polygon(38.495666666666665% 64.46633333333334%, 35.63933333333333% 71.32166666666667%, 41.70633333333333% 77.33%, )
    clip-path: polygon(38.495666666666665% 64.46633333333334%, 35.63933333333333% 71.32166666666667%, 41.70633333333333% 77.33%, )
    background: #ea997e
  #a3
    -webkit-clip-path: polygon(40.03033333333333% 70.61566666666667%, 6.226666666666667% 62.86600000000001%, 36.900666666666666% 56.284%, )
    clip-path: polygon(40.03033333333333% 70.61566666666667%, 6.226666666666667% 62.86600000000001%, 36.900666666666666% 56.284%, )
    background: #060808
  #a4
    -webkit-clip-path: polygon(21.837999999999997% 38.503%, 43.97866666666667% 46.79833333333334%, 41.70633333333333% 71.07766666666667%, )
    clip-path: polygon(21.837999999999997% 38.503%, 43.97866666666667% 46.79833333333334%, 41.70633333333333% 71.07766666666667%, )
    background: #060808
  #a5
    -webkit-clip-path: polygon(21.837999999999997% 38.503%, 1.3296666666666666% 41.865%, 36.086666666666666% 61.816%, )
    clip-path: polygon(21.837999999999997% 38.503%, 1.3296666666666666% 41.865%, 36.086666666666666% 61.816%, )
    background: #060808
  #a6
    -webkit-clip-path: polygon(49.410666666666664% 62.16733333333334%, 56.24266666666667% 57.020999999999994%, 41.034666666666666% 47.282000000000004%, )
    clip-path: polygon(49.410666666666664% 62.16733333333334%, 56.24266666666667% 57.020999999999994%, 41.034666666666666% 47.282000000000004%, )
    background: #060808
  #a7
    -webkit-clip-path: polygon(49.410666666666664% 62.16733333333334%, 45.928% 72.224%, 41.034666666666666% 47.282000000000004%, )
    clip-path: polygon(49.410666666666664% 62.16733333333334%, 45.928% 72.224%, 41.034666666666666% 47.282000000000004%, )
    background: #060808
  #a8
    -webkit-clip-path: polygon(11.189666666666668% 28.169666666666668%, 56.24266666666667% 57.020999999999994%, 36.92966666666667% 31.618333333333336%, )
    clip-path: polygon(11.189666666666668% 28.169666666666668%, 56.24266666666667% 57.020999999999994%, 36.92966666666667% 31.618333333333336%, )
    background: #060808
  #a9
    -webkit-clip-path: polygon(74.03% 49.21733333333333%, 25.865% 14.816%, 55.51333333333333% 62.79666666666666%, )
    clip-path: polygon(74.03% 49.21733333333333%, 25.865% 14.816%, 55.51333333333333% 62.79666666666666%, )
    background: #060808
  #a10
    -webkit-clip-path: polygon(69.31666666666666% 52.19833333333333%, 46.91233333333333% 10.677666666666667%, 58.96333333333333% 70.535%, )
    clip-path: polygon(69.31666666666666% 52.19833333333333%, 46.91233333333333% 10.677666666666667%, 58.96333333333333% 70.535%, )
    background: #060808
  #a11
    -webkit-clip-path: polygon(90.02166666666666% 37.546%, 58.143% 44.10033333333333%, 67.272% 64.46633333333334%, )
    clip-path: polygon(90.02166666666666% 37.546%, 58.143% 44.10033333333333%, 67.272% 64.46633333333334%, )
    background: #060808
  #a12
    -webkit-clip-path: polygon(70.23033333333333% 72.50699999999999%, 98.67033333333335% 56.284%, 68.09666666666666% 53.086000000000006%, )
    clip-path: polygon(70.23033333333333% 72.50699999999999%, 98.67033333333335% 56.284%, 68.09666666666666% 53.086000000000006%, )
    background: #060808
  #a13
    -webkit-clip-path: polygon(72.0946666667% 70.9906666667%, 72.1946666667% 67.7936666667%, 69.4296666667% 66.3116666667%)
    clip-path: polygon(72.0946666667% 70.9906666667%, 72.1946666667% 67.7936666667%, 69.4296666667% 66.3116666667%)
    background: #ea997e
  #a14
    -webkit-clip-path: polygon(69.52966666666667% 66.31166666666667%, 72.19466666666666% 70.89066666666666%, 67.13466666666666% 76.26433333333334%, )
    clip-path: polygon(69.52966666666667% 66.31166666666667%, 72.19466666666666% 70.89066666666666%, 67.13466666666666% 76.26433333333334%, )
    background: #ea997e
  #a15
    -webkit-clip-path: polygon(42.68% 80.3313333333%, 65.9133333333% 80.3313333333%, 54.3466666667% 89.0223333333%)
    clip-path: polygon(42.68% 80.3313333333%, 65.9133333333% 80.3313333333%, 54.3466666667% 89.0223333333%)
    background: #fdd7bb
  #a16
    -webkit-clip-path: polygon(65.9133333333% 80.4313333333%, 71.9203333333% 58.8316666667%, 42.78% 80.4313333333%)
    clip-path: polygon(65.9133333333% 80.4313333333%, 71.9203333333% 58.8316666667%, 42.78% 80.4313333333%)
    background: #fdd7bb
    z-index: -1
  #a17
    -webkit-clip-path: polygon(42.78% 80.63133333333333%, 33.833333333333336% 53.877%, 71.92033333333333% 59.031666666666666%, )
    clip-path: polygon(42.78% 80.63133333333333%, 33.833333333333336% 53.877%, 71.92033333333333% 59.031666666666666%, )
    background: #fdd7bb
    z-index: -1
  #a18
    -webkit-clip-path: polygon(65.8616666667% 69.2926666667%, 64.701% 74.4326666667%, 56.136% 75.2423333333%)
    clip-path: polygon(65.8616666667% 69.2926666667%, 64.701% 74.4326666667%, 56.136% 75.2423333333%)
    background: #fff
  #a19
    -webkit-clip-path: polygon(42.608% 69.2926666667%, 43.785% 74.505%, 52.3336666667% 75.2423333333%)
    clip-path: polygon(42.608% 69.2926666667%, 43.785% 74.505%, 52.3336666667% 75.2423333333%)
    background: #fff
  #a20
    -webkit-clip-path: polygon(40.894666666666666% 68.42566666666666%, 41.821333333333335% 66.50866666666667%, 52.82866666666666% 75.64633333333333%, )
    clip-path: polygon(40.894666666666666% 68.42566666666666%, 41.821333333333335% 66.50866666666667%, 52.82866666666666% 75.64633333333333%, )
    background: #231f20
  #a21
    -webkit-clip-path: polygon(55.88633333333333% 75.498%, 67.57466666666666% 68.42566666666666%, 66.648% 66.50866666666667%, )
    clip-path: polygon(55.88633333333333% 75.498%, 67.57466666666666% 68.42566666666666%, 66.648% 66.50866666666667%, )
    background: #231f20
  #a22
    -webkit-clip-path: polygon(54.708666666666666% 76.96766666666666%, 56.157333333333334% 80.22666666666667%, 54.00566666666666% 81.654%, )
    clip-path: polygon(54.708666666666666% 76.96766666666666%, 56.157333333333334% 80.22666666666667%, 54.00566666666666% 81.654%, )
    background: #c1664d
  #a23
    -webkit-clip-path: polygon(50.03633333333334% 73.819%, 48.818999999999996% 74.67766666666667%, 46.62133333333333% 71.70366666666666%, )
    clip-path: polygon(50.03633333333334% 73.819%, 48.818999999999996% 74.67766666666667%, 46.62133333333333% 71.70366666666666%, )
    background: #4e8dca
  #a24
    -webkit-clip-path: polygon(58.43333333333334% 73.819%, 59.650666666666666% 74.67766666666667%, 61.84833333333333% 71.70366666666666%, )
    clip-path: polygon(58.43333333333334% 73.819%, 59.650666666666666% 74.67766666666667%, 61.84833333333333% 71.70366666666666%, )
    background: #4e8dca
// Ezio Poly
#Box.Ezio
  #a1
    -webkit-clip-path: polygon(12.969999999999999% 87.77133333333335%, 34.55133333333333% 51.769666666666666%, 3.5660000000000003% 78.08633333333333%, )
    clip-path: polygon(12.969999999999999% 87.77133333333335%, 34.55133333333333% 51.769666666666666%, 3.5660000000000003% 78.08633333333333%, )
    background: #dee2e9
  #a2
    -webkit-clip-path: polygon(19.5663333333% 64.5683333333%, 40.917% 46.56%, 29.4363333333% 21.349%)
    clip-path: polygon(19.5663333333% 64.5683333333%, 40.917% 46.56%, 29.4363333333% 21.349%)
    background: #edf2f2
  #a3
    -webkit-clip-path: polygon(29.3363333333% 21.449%, 40.817% 46.86%, 48.72% 10.7036666667%)
    clip-path: polygon(29.3363333333% 21.449%, 40.817% 46.86%, 48.72% 10.7036666667%)
    background: #f9f9f9
  #a4
    -webkit-clip-path: polygon(48.72% 10.4036666667%, 40.717% 46.46%, 50.097% 56.19%)
    clip-path: polygon(48.72% 10.4036666667%, 40.717% 46.46%, 50.097% 56.19%)
    background: #fff
  #a5
    -webkit-clip-path: polygon(48.620000000000005% 10.703666666666665%, 49.99700000000001% 56.19%, 60.784% 46.68966666666666%, )
    clip-path: polygon(48.620000000000005% 10.703666666666665%, 49.99700000000001% 56.19%, 60.784% 46.68966666666666%, )
    background: #f1f5f9
  #a6
    -webkit-clip-path: polygon(48.62% 10.8036666667%, 67.8556666667% 21.449%, 60.784% 46.9896666667%)
    clip-path: polygon(48.62% 10.8036666667%, 67.8556666667% 21.449%, 60.784% 46.9896666667%)
    background: #edf2f2
  #a7
    -webkit-clip-path: polygon(80.3176666667% 62.7473333333%, 67.7556666667% 21.249%, 60.784% 46.6896666667%)
    clip-path: polygon(80.3176666667% 62.7473333333%, 67.7556666667% 21.249%, 60.784% 46.6896666667%)
    background: #eaeae9
  #a8
    -webkit-clip-path: polygon(88.91133333333333% 86.83%, 65.99933333333333% 50.949333333333335%, 96.425% 75.80666666666666%, )
    clip-path: polygon(88.91133333333333% 86.83%, 65.99933333333333% 50.949333333333335%, 96.425% 75.80666666666666%, )
    background: #dee2e9
    z-index: -2
  #a9
    -webkit-clip-path: polygon(42.80466666666666% 78.685%, 15.080333333333334% 84.47933333333333%, 30.52633333333333% 55.18066666666667%, )
    clip-path: polygon(42.80466666666666% 78.685%, 15.080333333333334% 84.47933333333333%, 30.52633333333333% 55.18066666666667%, )
    background: #30232d
  #a10
    -webkit-clip-path: polygon(34.08466666666667% 69.71666666666667%, 30.52633333333333% 55.18066666666667%, 40.817% 46.46%, )
    clip-path: polygon(34.08466666666667% 69.71666666666667%, 30.52633333333333% 55.18066666666667%, 40.817% 46.46%, )
    background: #bb9181
  #a11
    -webkit-clip-path: polygon(34.08466666666667% 69.71666666666667%, 46.172% 82.14833333333333%, 40.817% 46.46%, )
    clip-path: polygon(34.08466666666667% 69.71666666666667%, 46.172% 82.14833333333333%, 40.817% 46.46%, )
    background: #a27c66
  #a12
    -webkit-clip-path: polygon(46.172% 82.14833333333333%, 40.817% 46.46%, 49.99700000000001% 54.72233333333333%, )
    clip-path: polygon(46.172% 82.14833333333333%, 40.817% 46.46%, 49.99700000000001% 54.72233333333333%, )
    background: #936856
  #a13
    -webkit-clip-path: polygon(46.172% 82.14833333333333%, 53.516333333333336% 82.14833333333333%, 49.99700000000001% 54.72233333333333%, )
    clip-path: polygon(46.172% 82.14833333333333%, 53.516333333333336% 82.14833333333333%, 49.99700000000001% 54.72233333333333%, )
    background: #784b40
  #a14
    -webkit-clip-path: polygon(60.784% 46.68966666666666%, 53.516333333333336% 82.14833333333333%, 49.99700000000001% 54.72233333333333%, )
    clip-path: polygon(60.784% 46.68966666666666%, 53.516333333333336% 82.14833333333333%, 49.99700000000001% 54.72233333333333%, )
    background: #633c35
  #a15
    -webkit-clip-path: polygon(53.516333333333336% 82.14833333333333%, 64.83866666666667% 71.93533333333333%, 60.784% 46.68966666666666%, )
    clip-path: polygon(53.516333333333336% 82.14833333333333%, 64.83866666666667% 71.93533333333333%, 60.784% 46.68966666666666%, )
    background: #5d352d
  #a16
    -webkit-clip-path: polygon(64.83866666666667% 71.93533333333333%, 69.455% 53.772333333333336%, 60.784% 46.68966666666666%, )
    clip-path: polygon(64.83866666666667% 71.93533333333333%, 69.455% 53.772333333333336%, 60.784% 46.68966666666666%, )
    background: #573229
  #a17
    -webkit-clip-path: polygon(57.453% 78.59733333333334%, 85.20733333333334% 81.02966666666667%, 69.455% 53.772333333333336%, )
    clip-path: polygon(57.453% 78.59733333333334%, 85.20733333333334% 81.02966666666667%, 69.455% 53.772333333333336%, )
    background: #30232d
    z-index: -1
  #a18
    -webkit-clip-path: polygon(43.78033333333334% 72.60433333333333%, 58.04% 70.93866666666666%, 52.077333333333335% 69.14166666666667%, )
    clip-path: polygon(43.78033333333334% 72.60433333333333%, 58.04% 70.93866666666666%, 52.077333333333335% 69.14166666666667%, )
    background: #4f1d1d
  #a19
    -webkit-clip-path: polygon(49.99700000000001% 54.72233333333333%, 49.99700000000001% 63.92166666666666%, 46.49266666666667% 61.87533333333334%, )
    clip-path: polygon(49.99700000000001% 54.72233333333333%, 49.99700000000001% 63.92166666666666%, 46.49266666666667% 61.87533333333334%, )
    background: #e7baae
  #a20
    -webkit-clip-path: polygon(49.99700000000001% 54.72233333333333%, 49.99700000000001% 63.92166666666666%, 53.501666666666665% 61.87533333333334%, )
    clip-path: polygon(49.99700000000001% 54.72233333333333%, 49.99700000000001% 63.92166666666666%, 53.501666666666665% 61.87533333333334%, )
    background: #573229
  #a21
    -webkit-clip-path: polygon(34.5513333333% 51.7696666667%, 36.6143333333% 52.16%, 30.1006666667% 55.5263333333%)
    clip-path: polygon(34.5513333333% 51.7696666667%, 36.6143333333% 52.36%, 30.1006666667% 55.5263333333%)
    background: #1c0f0b
  #a22
    -webkit-clip-path: polygon(34.5513333333% 51.7696666667%, 49.997% 54.69%, 40.817% 46.46%)
    clip-path: polygon(34.5513333333% 51.7696666667%, 49.997% 54.69%, 40.817% 46.46%)
    background: #1c0f0b
  #a23
    -webkit-clip-path: polygon(49.997% 54.69%, 65.9993333333% 50.9493333333%, 60.784% 46.6896666667%)
    clip-path: polygon(49.997% 54.69%, 65.9993333333% 50.9493333333%, 60.784% 46.6896666667%)
    background: #1c0f0b
  #a24
    -webkit-clip-path: polygon(65.9993333333% 50.9493333333%, 69.9843333333% 54.6236666667%, 63.786% 51.3743333333%)
    clip-path: polygon(65.9993333333% 50.9493333333%, 69.9843333333% 54.6236666667%, 63.786% 51.3743333333%)
    background: #1c0f0b
// Rick Poly
#Box.Rick
  #a1
    background: #a9d3e9
    -webkit-clip-path: polygon( 41.750% 75.500% ,46.500% 82.125% ,37.500% 85.750% )
    clip-path: polygon( 41.750% 75.500% ,46.500% 82.125% ,37.500% 85.750% )
  #a2
    background: #a9d3e9
    -webkit-clip-path: polygon( 38.750% 65.500% ,43.000% 78.000% ,31.000% 77.875% )
    clip-path: polygon( 38.750% 65.500% ,43.000% 78.000% ,31.000% 77.875% )
  #a3
    background: #a9d3e9
    -webkit-clip-path: polygon( 34.750% 54.375% ,40.000% 69.500% ,21.000% 65.250% )
    clip-path: polygon( 34.750% 54.375% ,40.000% 69.500% ,21.000% 65.250% )
  #a4
    background: #a9d3e9
    -webkit-clip-path: polygon( 40.750% 36.375% ,35.250% 56.125% ,11.625% 44.875% )
    clip-path: polygon( 40.750% 36.375% ,35.250% 56.125% ,11.625% 44.875% )
  #a5
    background: #a9d3e9
    -webkit-clip-path: polygon( 33.500% 10.750% ,54.125% 25.000% ,39.500% 41.000% )
    clip-path: polygon( 33.500% 10.750% ,54.125% 25.000% ,39.500% 41.000% )
  #a6
    background: #a9d3e9
    -webkit-clip-path: polygon( 51.000% 5.750% ,62.750% 30.000% ,48.625% 31.125% )
    clip-path: polygon( 51.000% 5.750% ,62.750% 30.000% ,48.625% 31.125% )
  #a7
    background: #a9d3e9
    -webkit-clip-path: polygon( 76.750% 11.750% ,73.000% 38.125% ,57.000% 30.625% )
    clip-path: polygon( 76.750% 11.750% ,73.000% 38.125% ,57.000% 30.625% )
  #a8
    background: #a9d3e9
    -webkit-clip-path: polygon( 68.625% 35.500% ,91.000% 38.375% ,73.625% 56.750% )
    clip-path: polygon( 68.625% 35.500% ,91.000% 38.375% ,73.625% 56.750% )
  #a9
    background: #a9d3e9
    -webkit-clip-path: polygon( 74.125% 50.750% ,88.000% 63.625% ,71.125% 69.500% )
    clip-path: polygon( 74.125% 50.750% ,88.000% 63.625% ,71.125% 69.500% )
  #a10
    background: #a9d3e9
    -webkit-clip-path: polygon( 73.750% 67.500% ,82.000% 75.875% ,72.000% 75.750% )
    clip-path: polygon( 73.750% 67.500% ,82.000% 75.875% ,72.000% 75.750% )
  #a11
    background: #d6c4ae
    -webkit-clip-path: polygon( 53.450% 22.375% ,48.500% 94.125% ,31.875% 46.125% )
    clip-path: polygon( 53.450% 22.375% ,48.500% 94.125% ,31.875% 46.125% )
  #a12
    background: #d6c4ae
    -webkit-clip-path: polygon( 53.375% 22.375% ,73.175% 84.275% ,48.400% 94.100% )
    clip-path: polygon( 53.375% 22.375% ,73.175% 84.275% ,48.400% 94.100% )
  #a13
    background: #d6c4ae
    -webkit-clip-path: polygon( 53.2% 22.375% ,74.625% 39.625% ,73.125% 84.375% )
    clip-path: polygon( 53.2% 22.375% ,74.625% 39.625% ,73.125% 84.375% )
  #a14
    background: #a9d3e9
    -webkit-clip-path: polygon( 40.875% 43.125% ,43.875% 43.875% ,36.750% 46.500% )
    clip-path: polygon( 40.875% 43.125% ,43.875% 43.875% ,36.750% 46.500% )
  #a15
    background: #a9d3e9
    -webkit-clip-path: polygon( 45.500% 42.500% ,56.375% 47.750% ,40.875% 43.125% )
    clip-path: polygon( 45.500% 42.500% ,56.375% 47.750% ,40.875% 43.125% )
  #a16
    background: #a9d3e9
    -webkit-clip-path: polygon( 73.375% 39.875% ,74.875% 42.250% ,56.375% 47.750% )
    clip-path: polygon( 73.375% 39.875% ,74.875% 42.250% ,56.375% 47.750% )
  #a17
    background: #ffffff
    -webkit-clip-path: polygon( 37.500% 51.125% ,57.125% 50.750% ,48.625% 60.500% )
    clip-path: polygon( 37.500% 51.125% ,57.125% 50.750% ,48.625% 60.500% )
  #a18
    background: #ffffff
    -webkit-clip-path: polygon( 76.875% 48.875% ,69.500% 58.250% ,58.875% 50.500% )
    clip-path: polygon( 76.875% 48.875% ,69.500% 58.250% ,58.875% 50.500% )
  #a19
    background: #1a1a1a
    -webkit-clip-path: polygon( 50.125% 50.875% ,52.750% 50.875% ,51.375% 52.375% )
    clip-path: polygon( 50.125% 50.875% ,52.750% 50.875% ,51.375% 52.375% )
  #a20
    background: #1a1a1a
    -webkit-clip-path: polygon( 69.750% 49.625% ,71.875% 49.375% ,70.875% 50.750% )
    clip-path: polygon( 69.750% 49.625% ,71.875% 49.375% ,70.875% 50.750% )
  #a21
    background: #d3c9ba
    -webkit-clip-path: polygon( 35.925% 58.000% ,40.000% 69.500% ,32.000% 64.750% )
    clip-path: polygon( 35.925% 58.000% ,40.000% 69.500% ,32.000% 64.750% )
  #a22
    background: #d3c9ba
    -webkit-clip-path: polygon( 74.000% 53.125% ,79.000% 57.500% ,73.625% 62.125% )
    clip-path: polygon( 74.000% 53.125% ,79.000% 57.500% ,73.625% 62.125% )
  #a23
    background: #bab3aa
    -webkit-clip-path: polygon( 60.375% 58.250% ,61.625% 69.625% ,57.375% 66.000% )
    clip-path: polygon( 60.375% 58.250% ,61.625% 69.625% ,57.375% 66.000% )
  #a24
    background: #622422
    -webkit-clip-path: polygon( 45.500% 76.125% ,69.250% 76.125% ,54.125% 78.375% )
    clip-path: polygon( 45.500% 76.125% ,69.250% 76.125% ,54.125% 78.375% )
// Minion Poly
#Box.Minion
  #a1
    background: #f9da58
    -webkit-clip-path: polygon( 36.250% 8.375% ,17.000% 28.750% ,16.375% 75.250% )
    clip-path: polygon( 36.250% 8.375% ,17.000% 28.750% ,16.375% 75.250% )
  #a2
    background: #ffe666
    -webkit-clip-path: polygon( 36.250% 8.375% ,16.375% 75.250% ,82.750% 75.250% )
    clip-path: polygon( 36.250% 8.375% ,16.375% 75.250% ,82.750% 75.250% )
  #a3
    background: #6182a4
    -webkit-clip-path: polygon( 16.375% 75.250% ,14.500% 91.750% ,82.750% 75.250% )
    clip-path: polygon( 16.375% 75.250% ,14.500% 91.750% ,82.750% 75.250% )
  #a4
    background: #ffe666
    -webkit-clip-path: polygon( 36.250% 8.375% ,82.750% 75.250% ,63.875% 8.375% )
    clip-path: polygon( 36.250% 8.375% ,82.750% 75.250% ,63.875% 8.375% )
  #a5
    background: #f9da58
    -webkit-clip-path: polygon(63.875% 8.375%, 82.75% 75.25%, 81.5% 25.5%)
    clip-path: polygon(63.875% 8.375%, 82.75% 75.25%, 81.5% 25.5%)
  #a6
    background: #ffe666
    -webkit-clip-path: polygon( 50.000% 5.725% ,36.250% 8.475% ,63.875% 8.475% )
    clip-path: polygon( 50.000% 5.725% ,36.250% 8.475% ,63.875% 8.475% )
  #a7
    background: #597a98
    -webkit-clip-path: polygon(82.75% 75.15%, 14.5% 91.65%, 85.625% 90.775%)
    clip-path: polygon(82.75% 75.15%, 14.5% 91.65%, 85.625% 90.775%)
  #a8
    background: #282320
    -webkit-clip-path: polygon(14.75% 34.4%, 15.25% 40.9%, 23.25% 41.775%)
    clip-path: polygon(14.75% 34.4%, 15.25% 40.9%, 23.25% 41.775%)
  #a9
    background: #352e2a
    -webkit-clip-path: polygon( 14.750% 34.500% ,23.250% 41.875% ,22.625% 31.625% )
    clip-path: polygon( 14.750% 34.500% ,23.250% 41.875% ,22.625% 31.625% )
    z-index: 1
  #a10
    background: #aea7a5
    -webkit-clip-path: polygon(35.475% 21.75%, 20.725% 36.75%, 36.35% 53.5%)
    clip-path: polygon(35.475% 21.75%, 20.725% 36.75%, 36.35% 53.5%)
  #a11
    background: #aea7a5
    -webkit-clip-path: polygon( 35.375% 21.750% ,36.250% 53.500% ,50.125% 35.375% )
    clip-path: polygon( 35.375% 21.750% ,36.250% 53.500% ,50.125% 35.375% )
  #a12
    background: #282320
    -webkit-clip-path: polygon( 37.250% 62.875% ,63.375% 62.750% ,51.250% 65.250% )
    clip-path: polygon( 37.250% 62.875% ,63.375% 62.750% ,51.250% 65.250% )
  #a13
    background: #aea7a5
    -webkit-clip-path: polygon(61.85% 23.375%, 48.85% 35.625%, 64.35% 52.25%)
    clip-path: polygon(61.85% 23.375%, 48.85% 35.625%, 64.35% 52.25%)
  #a14
    background: #aea7a5
    -webkit-clip-path: polygon( 61.750% 23.375% ,64.250% 52.250% ,77.625% 35.125% )
    clip-path: polygon( 61.750% 23.375% ,64.250% 52.250% ,77.625% 35.125% )
  #a15
    background: #352e2a
    -webkit-clip-path: polygon( 75.000% 30.500% ,74.875% 42.500% ,83.625% 33.500% )
    clip-path: polygon( 75.000% 30.500% ,74.875% 42.500% ,83.625% 33.500% )
  #a16
    background: #282320
    -webkit-clip-path: polygon( 83.625% 33.400% ,74.875% 42.400% ,83.625% 39.775% )
    clip-path: polygon( 83.625% 33.400% ,74.875% 42.400% ,83.625% 39.775% )
  #a17
    background: #ffffff
    -webkit-clip-path: polygon(35.6% 25.625%, 24.35% 36.375%, 36.225% 49.125%)
    clip-path: polygon(35.6% 25.625%, 24.35% 36.375%, 36.225% 49.125%)
  #a18
    background: #ffffff
    -webkit-clip-path: polygon( 35.500% 25.625% ,36.125% 49.125% ,46.250% 35.125% )
    clip-path: polygon( 35.500% 25.625% ,36.125% 49.125% ,46.250% 35.125% )
  #a19
    background: #352e2a
    -webkit-clip-path: polygon( 39.625% 36.85% , 37.5% 38.6% , 41.5% 38.85% )
    clip-path: polygon( 39.625% 36.85% , 37.5% 38.6% , 41.5% 38.85% )
  #a20
    background: #352e2a
    -webkit-clip-path: polygon( 37.500% 38.500% ,41.500% 38.750% ,39.125% 40.125% )
    clip-path: polygon( 37.500% 38.500% ,41.500% 38.750% ,39.125% 40.125% )
  #a21
    background: #ffffff
    -webkit-clip-path: polygon(62.225% 27.375%, 53.475% 35.25%, 63.975% 47.25%)
    clip-path: polygon(62.225% 27.375%, 53.475% 35.25%, 63.975% 47.25%)
  #a22
    background: #ffffff
    -webkit-clip-path: polygon( 62.125% 27.375% ,63.875% 47.250% ,73.000% 35.375% )
    clip-path: polygon( 62.125% 27.375% ,63.875% 47.250% ,73.000% 35.375% )
  #a23
    background: #352e2a
    -webkit-clip-path: polygon( 60.500% 36.350% ,58.750% 38.600% ,62.750% 38.100%)
    clip-path: polygon( 60.500% 36.350% ,58.750% 38.600% ,62.750% 38.100%)
  #a24
    background: #352e2a
    -webkit-clip-path: polygon( 58.750% 38.500% ,60.875% 40.000% ,62.750% 38.000% )
    clip-path: polygon( 58.750% 38.500% ,60.875% 40.000% ,62.750% 38.000% )
//
// Pikachu Poly
#Box.Pikachu
  #a1
    background: #000
    -webkit-clip-path: polygon( 2.625% 15.375% ,10.750% 17.250% ,14.000% 32.625% )
    clip-path: polygon( 2.625% 15.375% ,10.750% 17.250% ,14.000% 32.625% )
  #a2
    background: #ffd924
    -webkit-clip-path: polygon( 10.750% 17.250% ,29.350% 44.625% ,14.000% 32.625% )
    clip-path: polygon( 10.750% 17.250% ,29.350% 44.625% ,14.000% 32.625% )
  #a3
    background: #e5bf23
    -webkit-clip-path: polygon( 10.750% 17.250% ,35.325% 39.450% ,29.375% 44.825% )
    clip-path: polygon( 10.750% 17.250% ,35.325% 39.450% ,29.375% 44.825% )
  #a4
    background: #e5bf23
    -webkit-clip-path: polygon( 29.375% 44.875% ,32.125% 78.125% ,25.750% 65.000% )
    clip-path: polygon( 29.375% 44.875% ,32.125% 78.125% ,25.750% 65.000% )
  #a5
    background: #ce2532
    -webkit-clip-path: polygon( 25.675% 64.875% ,31.375% 64.875% ,30.800% 75.500% )
    clip-path: polygon( 25.675% 64.875% ,31.375% 64.875% ,30.800% 75.500% )
    z-index: 1
  #a6
    background: #ed1c24
    -webkit-clip-path: polygon( 31.325% 65.000% ,35.125% 70.875% ,30.750% 75.625% )
    clip-path: polygon( 31.325% 65.000% ,35.125% 70.875% ,30.750% 75.625% )
    z-index: 1
  #a7
    background: #f2ca22
    -webkit-clip-path: polygon( 29.400% 44.750% ,51.650% 84.725% ,32.000% 78.000% )
    clip-path: polygon( 29.400% 44.750% ,51.650% 84.725% ,32.000% 78.000% )
  #a8
    background: #ffd924
    -webkit-clip-path: polygon( 29.350% 44.750% ,70.750% 77.875% ,51.750% 84.875% )
    clip-path: polygon( 29.350% 44.750% ,70.750% 77.875% ,51.750% 84.875% )
  #a9
    background: #fcdb51
    -webkit-clip-path: polygon( 35.125% 39.250% ,70.750% 77.875% ,29.375% 44.750% )
    clip-path: polygon( 35.125% 39.250% ,70.750% 77.875% ,29.375% 44.750% )
  #a10
    background: #ffd924
    -webkit-clip-path: polygon( 45.500% 35.500% ,70.750% 77.875% ,34.900% 39.125% )
    clip-path: polygon( 45.500% 35.500% ,70.750% 77.875% ,34.900% 39.125% )
  #a11
    background: #FFD924
    -webkit-clip-path: polygon( 45.500% 35.500% ,64.250% 38.250% ,70.650% 77.750% )
    clip-path: polygon( 45.500% 35.500% ,64.250% 38.250% ,70.650% 77.750% )
  #a12
    background: #F2CA22
    -webkit-clip-path: polygon( 64.250% 38.250% ,71.125% 44.000% ,70.750% 77.950% )
    clip-path: polygon( 64.250% 38.250% ,71.125% 44.000% ,70.750% 77.950% )
  #a13
    background: #E5BF23
    -webkit-clip-path: polygon( 71.050% 43.925% ,76.000% 68.625% ,70.750% 77.750% )
    clip-path: polygon( 71.050% 43.925% ,76.000% 68.625% ,70.750% 77.750% )
  #a14
    background: #ED1C24
    -webkit-clip-path: polygon( 67.000% 68.000% ,71.875% 75.750% ,66.625% 74.500% )
    clip-path: polygon( 67.000% 68.000% ,71.875% 75.750% ,66.625% 74.500% )
  #a15
    background: #ce2532
    -webkit-clip-path: polygon( 67.000% 68.000% ,75.875% 68.625% ,71.875% 75.750% )
    clip-path: polygon( 67.000% 68.000% ,75.875% 68.625% ,71.875% 75.750% )
  #a16
    background: #E5BF23
    -webkit-clip-path: polygon( 64.225% 38.325% ,88.875% 20.500% ,71.175% 44.200% )
    clip-path: polygon( 64.225% 38.325% ,88.875% 20.500% ,71.175% 44.200% )
  #a17
    background: #ffd924
    -webkit-clip-path: polygon( 88.800% 20.500% ,86.125% 34.675% ,70.850% 44.600% )
    clip-path: polygon( 88.800% 20.500% ,86.125% 34.675% ,70.850% 44.600% )
  #a18
    background: #000
    -webkit-clip-path: polygon( 88.800% 20.800% ,97.875% 18.750% ,86.025% 34.750% )
    clip-path: polygon( 88.800% 20.800% ,97.875% 18.750% ,86.025% 34.750% )
  #a19
    background: #000
    -webkit-clip-path: polygon( 35.125% 53.750% ,39.125% 60.500% ,32.000% 59.750% )
    clip-path: polygon( 35.125% 53.750% ,39.125% 60.500% ,32.000% 59.750% )
  #a20
    background: #fff
    -webkit-clip-path: polygon( 36.000% 55.125% ,37.750% 57.875% ,35.675% 57.600% )
    clip-path: polygon( 36.000% 55.125% ,37.750% 57.875% ,35.675% 57.600% )
  #a21
    background: #000
    -webkit-clip-path: polygon( 49.500% 61.125% ,51.625% 61.125% ,50.750% 61.875% )
    clip-path: polygon( 49.500% 61.125% ,51.625% 61.125% ,50.750% 61.875% )
  #a22
    background: #ce2532
    -webkit-clip-path: polygon( 44.375% 69.875% ,56.750% 70.375% ,50.750% 72.375% )
    clip-path: polygon( 44.375% 69.875% ,56.750% 70.375% ,50.750% 72.375% )
  #a23
    background: #000
    -webkit-clip-path: polygon( 64.625% 53.375% ,67.500% 60.250% ,60.125% 58.875% )
    clip-path: polygon( 64.625% 53.375% ,67.500% 60.250% ,60.125% 58.875% )
  #a24
    background: #fff
    -webkit-clip-path: polygon( 62.850% 55.375% ,63.500% 57.675% ,61.050% 57.625% )
    clip-path: polygon( 62.850% 55.375% ,63.500% 57.675% ,61.050% 57.625% )
//
// Dexter Poly
#Box.Dexter
  #a1
    background: #EA7524
    -webkit-clip-path: polygon( 16.625% 25.625% ,13.125% 17.000% ,53.250% 17.000% )
    clip-path: polygon( 16.625% 25.625% ,13.125% 17.000% ,53.250% 17.000% )
    z-index: 1
  #a2
    background: #EA7524
    -webkit-clip-path: polygon(24.5% 5.6%, 83.875% 16.975%, 13.125% 17.1%)
    clip-path: polygon(24.5% 5.6%, 83.875% 16.975%, 13.125% 17.1%)
    z-index: 1
  #a3
    background: #EA7524
    -webkit-clip-path: polygon(56.875% 8.95%, 83.875% 17.075%, 29.5% 7.7%)
    clip-path: polygon(56.875% 8.95%, 83.875% 17.075%, 29.5% 7.7%)
    z-index: 1
  #a4
    background: #EA7524
    -webkit-clip-path: polygon( 41.000% 17.000% ,68.375% 17.000% ,37.000% 26.750% )
    clip-path: polygon( 41.000% 17.000% ,68.375% 17.000% ,37.000% 26.750% )
    z-index: 1
  #a5
    background: #EA7524
    -webkit-clip-path: polygon( 55.750% 17.000% ,83.875% 16.875% ,53.625% 24.125% )
    clip-path: polygon( 55.750% 17.000% ,83.875% 16.875% ,53.625% 24.125% )
    z-index: 1
  #a6
    background: #FBD8D1
    -webkit-clip-path: polygon( 83.875% 16.875% ,24.000% 20.250% ,24.000% 47.750% )
    clip-path: polygon( 83.875% 16.875% ,24.000% 20.250% ,24.000% 47.750% )
    z-index: 0
  #a7
    background: #FBD8D1
    -webkit-clip-path: polygon(83.875% 16.875%, 29.225% 57.25%, 24% 47.75%)
    clip-path: polygon(83.875% 16.875%, 29.225% 57.25%, 24% 47.75%)
  #a8
    background: #FBD8D1
    -webkit-clip-path: polygon( 83.875% 16.875% ,47.000% 68.250% ,29.125% 57.250% )
    clip-path: polygon( 83.875% 16.875% ,47.000% 68.250% ,29.125% 57.250% )
  #a9
    background: #FBD8D1
    -webkit-clip-path: polygon(83.625% 16.75%, 83.625% 50.25%, 47.00% 68.25%)
    clip-path: polygon(83.625% 16.75%, 83.625% 50.25%, 47.00% 68.25%)
  #a10
    background: #E6E7E8
    -webkit-clip-path: polygon(35.125% 60.95%, 47.125% 68.25%, 35.125% 74.125%)
    clip-path: polygon(35.125% 60.95%, 47.125% 68.25%, 35.125% 74.125%)
  #a11
    background: #E6E7E8
    -webkit-clip-path: polygon( 83.625% 50.250% ,83.625% 74.125% ,35.125% 74.125% )
    clip-path: polygon( 83.625% 50.250% ,83.625% 74.125% ,35.125% 74.125% )
  #a12
    background: #060808
    -webkit-clip-path: polygon( 41.000% 74.125% ,64.125% 74.125% ,33.250% 88.750% )
    clip-path: polygon( 41.000% 74.125% ,64.125% 74.125% ,33.250% 88.750% )
  #a13
    background: #060808
    -webkit-clip-path: polygon( 50.125% 74.125% ,70.625% 74.125% ,75.625% 92.750% )
    clip-path: polygon( 50.125% 74.125% ,70.625% 74.125% ,75.625% 92.750% )
  #a14
    background: #060808
    -webkit-clip-path: polygon( 48.625% 74.125% ,69.125% 80.750% ,47.000% 87.250% )
    clip-path: polygon( 48.625% 74.125% ,69.125% 80.750% ,47.000% 87.250% )
  #a15
    background: #060808
    -webkit-clip-path: polygon( 62.750% 74.125% ,66.250% 90.000% ,50.625% 81.500% )
    clip-path: polygon( 62.750% 74.125% ,66.250% 90.000% ,50.625% 81.500% )
  #a16
    background: #231F20
    -webkit-clip-path: polygon( 10.750% 29.625% ,49.875% 29.750% ,27.375% 50.500% )
    clip-path: polygon( 10.750% 29.625% ,49.875% 29.750% ,27.375% 50.500% )
  #a17
    background: #231F20
    -webkit-clip-path: polygon( 46.250% 29.750% ,85.375% 29.500% ,63.375% 49.250% )
    clip-path: polygon( 46.250% 29.750% ,85.375% 29.500% ,63.375% 49.250% )
  #a18
    background: #7CC8EB
    -webkit-clip-path: polygon( 13.000% 30.625% ,46.625% 30.750% ,27.500% 48.750% )
    clip-path: polygon( 13.000% 30.625% ,46.625% 30.750% ,27.500% 48.750% )
  #a19
    background: #7CC8EB
    -webkit-clip-path: polygon( 49.000% 31.000% ,81.375% 30.875% ,63.750% 47.250% )
    clip-path: polygon( 49.000% 31.000% ,81.375% 30.875% ,63.750% 47.250% )
  #a20
    background: #E9C9C4
    -webkit-clip-path: polygon( 28.875% 40.000% ,48.875% 40.250% ,35.000% 47.750% )
    clip-path: polygon( 28.875% 40.000% ,48.875% 40.250% ,35.000% 47.750% )
  #a21
    background: #FCE3D9
    -webkit-clip-path: polygon( 83.625% 38.500% ,89.750% 37.000% ,83.625% 48.000% )
    clip-path: polygon( 83.625% 38.500% ,89.750% 37.000% ,83.625% 48.000% )
  #a22
    background: #7F1523
    -webkit-clip-path: polygon( 54.750% 52.375% ,50.875% 56.625% ,42.750% 53.375% )
    clip-path: polygon( 54.750% 52.375% ,50.875% 56.625% ,42.750% 53.375% )
  #a23
    background: #231F20
    -webkit-clip-path: polygon(42.75% 30.675%, 34.25% 34.925%, 29.375% 30.675%)
    clip-path: polygon(42.75% 30.675%, 34.25% 34.925%, 29.375% 30.675%)
  #a24
    background: #231F20
    -webkit-clip-path: polygon( 77.750% 30.875% ,68.875% 35.125% ,63.500% 30.875% )
    clip-path: polygon( 77.750% 30.875% ,68.875% 35.125% ,63.500% 30.875% )
//
// V Poly
#Box.V
  #a1
    background: #FFE0B2
    -webkit-clip-path: polygon( 50.000% 8.375% ,84.000% 17.375% ,16.000% 17.375% )
    clip-path: polygon( 50.000% 8.375% ,84.000% 17.375% ,16.000% 17.375% )
  #a2
    background: #FFCC80
    -webkit-clip-path: polygon( 16.000% 17.375% ,50.000% 92.000% ,20.750% 67.500% )
    clip-path: polygon( 16.000% 17.375% ,50.000% 92.000% ,20.750% 67.500% )
  #a3
    background: #FFE0B2
    -webkit-clip-path: polygon( 16.000% 17.375% ,84.000% 17.375% ,50.000% 92.000% )
    clip-path: polygon( 16.000% 17.375% ,84.000% 17.375% ,50.000% 92.000% )
  #a4
    background: #FCE3C3
    -webkit-clip-path: polygon( 84.000% 17.375% ,79.250% 67.500% ,50.000% 92.000% )
    clip-path: polygon( 84.000% 17.375% ,79.250% 67.500% ,50.000% 92.000% )
  #a5
    background: #000000
    -webkit-clip-path: polygon( 29.375% 29.250% ,33.625% 30.875% ,24.125% 34.875% )
    clip-path: polygon( 29.375% 29.250% ,33.625% 30.875% ,24.125% 34.875% )
  #a6
    background: #000000
    -webkit-clip-path: polygon( 37.750% 27.875% ,40.125% 33.250% ,29.375% 29.250% )
    clip-path: polygon( 37.750% 27.875% ,40.125% 33.250% ,29.375% 29.250% )
  #a7
    background: #424242
    -webkit-clip-path: polygon(37.75% 27.875%, 46.375% 35.875%, 42.225% 38.375%)
    clip-path: polygon(37.75% 27.875%, 46.375% 35.875%, 42.225% 38.375%)
  #a8
    background: #424242
    -webkit-clip-path: polygon(62.25% 27.875%, 53.625% 35.875%, 57.875% 38.375%)
    clip-path: polygon(62.25% 27.875%, 53.625% 35.875%, 57.875% 38.375%)
  #a9
    background: #000000
    -webkit-clip-path: polygon( 62.250% 27.875% ,59.875% 33.250% ,70.625% 29.250% )
    clip-path: polygon( 62.250% 27.875% ,59.875% 33.250% ,70.625% 29.250% )
  #a10
    background: #000000
    -webkit-clip-path: polygon( 70.625% 29.250% ,66.375% 30.875% ,75.875% 34.875% )
    clip-path: polygon( 70.625% 29.250% ,66.375% 30.875% ,75.875% 34.875% )
  #a11
    background: #333333
    -webkit-clip-path: polygon(23.5% 56.125%, 34.75% 67.7%, 31% 67.625%)
    clip-path: polygon(23.5% 56.125%, 34.75% 67.7%, 31% 67.625%)
  #a12
    background: #333333
    -webkit-clip-path: polygon(31% 67.625%, 42.35% 67.625%, 39.475% 71.425%)
    clip-path: polygon(31% 67.625%, 42.35% 67.625%, 39.475% 71.425%)
  #a13
    background: #333333
    -webkit-clip-path: polygon( 39.375% 71.375% ,50.000% 57.000% ,60.625% 71.375% )
    clip-path: polygon( 39.375% 71.375% ,50.000% 57.000% ,60.625% 71.375% )
  #a14
    background: #333333
    -webkit-clip-path: polygon(68.7% 67.625%, 57.75% 67.625%, 60.600% 71.475%)
    clip-path: polygon(68.7% 67.625%, 57.75% 67.625%, 60.600% 71.475%)
  #a15
    background: #333333
    -webkit-clip-path: polygon(76.5% 56.125%, 65.25% 67.6%, 68.6% 67.625%)
    clip-path: polygon(76.5% 56.125%, 65.25% 67.6%, 68.6% 67.625%)
  #a16
    background: #FFE0B2
    -webkit-clip-path: polygon( 50.000% 67.375% ,54.125% 71.375% ,45.875% 71.500% )
    clip-path: polygon( 50.000% 67.375% ,54.125% 71.375% ,45.875% 71.500% )
  #a17
    background: #FFE0B2
    -webkit-clip-path: polygon(50.000% 56%, 52.375% 59.875%, 44.500% 59.875%)
    clip-path: polygon(50.000% 56%, 52.375% 59.875%, 44.500% 59.875%)
  #a18
    background: #424242
    -webkit-clip-path: polygon( 48.000% 59.875% ,52.000% 59.875% ,50.000% 67.250% )
    clip-path: polygon( 48.000% 59.875% ,52.000% 59.875% ,50.000% 67.250% )
  #a19
    background: #000000
    -webkit-clip-path: polygon( 50.000% 76.875% ,50.000% 91.750% ,46.250% 88.500% )
    clip-path: polygon( 50.000% 76.875% ,50.000% 91.750% ,46.250% 88.500% )
  #a20
    background: #000000
    -webkit-clip-path: polygon( 50.000% 76.875% ,50.000% 91.750% ,53.750% 88.500% )
    clip-path: polygon( 50.000% 76.875% ,50.000% 91.750% ,53.750% 88.500% )
  #a21
    background: #000000
    -webkit-clip-path: polygon( 36.625% 39.625% ,42.625% 42.250% ,27.000% 42.250% )
    clip-path: polygon( 36.625% 39.625% ,42.625% 42.250% ,27.000% 42.250% )
  #a22
    background: #000000
    -webkit-clip-path: polygon( 63.375% 39.625% ,57.375% 42.250% ,73.000% 42.250% )
    clip-path: polygon( 63.375% 39.625% ,57.375% 42.250% ,73.000% 42.250% )
  #a23
    background: #000000
    -webkit-clip-path: polygon( 27.000% 42.250% ,42.625% 42.250% ,36.000% 45.750% )
    clip-path: polygon( 27.000% 42.250% ,42.625% 42.250% ,36.000% 45.750% )
  #a24
    background: #000000
    -webkit-clip-path: polygon( 73.000% 42.250% ,57.375% 42.250% ,64.000% 45.750% )
    clip-path: polygon( 73.000% 42.250% ,57.375% 42.250% ,64.000% 45.750% )
//
// Harry Poly
#Box.Harry
  #a1
    background: #1a1a1a
    -webkit-clip-path: polygon(41% 2.625%, 59% 6.375%, 24.625% 27.625%)
    clip-path: polygon(41% 2.625%, 59% 6.375%, 24.625% 27.625%)
  #a2
    background: #333333
    -webkit-clip-path: polygon(59% 6.375%, 47.625% 21.5%, 37.75% 19.375%)
    clip-path: polygon(59% 6.375%, 47.625% 21.5%, 37.75% 19.375%)
  #a3
    background: #333333
    -webkit-clip-path: polygon(58.8% 6.375%, 68.375% 9.875%, 47.525% 21.5%)
    clip-path: polygon(58.8% 6.375%, 68.375% 9.875%, 47.525% 21.5%)
  #a4
    background: #1a1a1a
    -webkit-clip-path: polygon(68.375% 9.875%, 75.5% 26.25%, 51.5% 19.2%)
    clip-path: polygon(68.375% 9.875%, 75.5% 26.25%, 51.5% 19.2%)
  #a5
    background: #f9c7ae
    -webkit-clip-path: polygon(41% 13.875%, 70.875% 25.225%, 29.12% 25.14%)
    clip-path: polygon(41% 13.875%, 70.875% 25.225%, 29.12% 25.14%)
  #a6
    background: #000000
    -webkit-clip-path: polygon(29.125% 24.8%, 34.125% 88.375%, 24.625% 27.625%)
    clip-path: polygon(29.125% 24.8%, 34.125% 88.375%, 24.625% 27.625%)
  #a7
    background: #000000
    -webkit-clip-path: polygon(70.875% 24.58%, 75.5% 26.25%, 66.375% 87.5%)
    clip-path: polygon(70.875% 24.58%, 75.5% 26.25%, 66.375% 87.5%)
  #a8
    background: #deaa87
    -webkit-clip-path: polygon(29.125% 25.125%, 49.5% 97.625%, 34.125% 88.375%)
    clip-path: polygon(29.125% 25.125%, 49.5% 97.625%, 34.125% 88.375%)
  #a9
    background: #f9c7ae
    -webkit-clip-path: polygon(29.125% 25.125%, 70.875% 25.125%, 49.5% 97.625%)
    clip-path: polygon(29.125% 25.125%, 70.875% 25.125%, 49.5% 97.625%)
  #a10
    background: #ffe1c9
    -webkit-clip-path: polygon(70.875% 25.125%, 66.375% 87.5%, 49.5% 97.625%)
    clip-path: polygon(70.875% 25.125%, 66.375% 87.5%, 49.5% 97.625%)
  #a11
    background: #f9c7ae
    -webkit-clip-path: polygon(28.125% 52.625%, 31.5% 55.5%, 29.5% 60.25%)
    clip-path: polygon(28.125% 52.625%, 31.5% 55.5%, 29.5% 60.25%)
  #a12
    background: #f9c7ae
    -webkit-clip-path: polygon(31.5% 55.25%, 32% 61.375%, 29.375% 60.25%)
    clip-path: polygon(31.5% 55.25%, 32% 61.375%, 29.375% 60.25%)
  #a13
    background: #f9c7ae
    -webkit-clip-path: polygon(72% 53.125%, 70.55% 60.75%, 68.475% 56%)
    clip-path: polygon(72% 53.125%, 70.55% 60.75%, 68.475% 56%)
  #a14
    background: #f9c7ae
    -webkit-clip-path: polygon(68.575% 56%, 70.75% 60.75%, 68.2% 61.75%)
    clip-path: polygon(68.575% 56%, 70.75% 60.75%, 68.2% 61.75%)
  #a15
    background: #deaa87
    -webkit-clip-path: polygon(36.25% 21.5%, 42.875% 30.5%, 39.625% 30.625%)
    clip-path: polygon(36.25% 21.5%, 42.875% 30.5%, 39.625% 30.625%)
  #a16
    background: #deaa87
    -webkit-clip-path: polygon(35.375% 28.25%, 38.875% 29.25%, 42.75% 38.875%)
    clip-path: polygon(35.375% 28.25%, 38.875% 29.25%, 42.75% 38.875%)
  #a17
    background: #333333
    -webkit-clip-path: polygon(45% 50.875%, 55.5% 50.5%, 50% 51.75%)
    clip-path: polygon(45% 50.875%, 55.5% 50.5%, 50% 51.75%)
  #a18
    background: #ffffff
    -webkit-clip-path: polygon(35.625% 42.75%, 47.125% 50.875%, 27.375% 50.875%)
    clip-path: polygon(35.625% 42.75%, 47.125% 50.875%, 27.375% 50.875%)
  #a19
    background: #ffffff
    -webkit-clip-path: polygon(27.375% 50.875%, 47.125% 50.875%, 38% 58.375%)
    clip-path: polygon(27.375% 50.875%, 47.125% 50.875%, 38% 58.375%)
  #a20
    background: #ffffff
    -webkit-clip-path: polygon(61.625% 42.625%, 73% 50.975%, 53.25% 50.69%)
    clip-path: polygon(61.625% 42.625%, 73% 50.975%, 53.25% 50.69%)
  #a21
    background: #ffffff
    -webkit-clip-path: polygon(53.25% 50.625%, 73% 50.875%, 63.875% 58.25%)
    clip-path: polygon(53.25% 50.625%, 73% 50.875%, 63.875% 58.25%)
  #a22
    background: #333333
    -webkit-clip-path: polygon(50.125% 61.25%, 52.625% 70.25%, 50% 68%)
    clip-path: polygon(50.125% 61.25%, 52.625% 70.25%, 50% 68%)
  #a23
    background: #89131c
    -webkit-clip-path: polygon(41.25% 78.5%, 52.25% 81%, 45.25% 81%)
    clip-path: polygon(41.25% 78.5%, 52.25% 81%, 45.25% 81%)
  #a24
    background: #89131c
    -webkit-clip-path: polygon(41.25% 78.5%, 56.75% 78.5%, 52.25% 81%)
    clip-path: polygon(41.25% 78.5%, 56.75% 78.5%, 52.25% 81%)
