body
	margin: 0
	padding: 0
	font: 20px/22px arial, verdana
	overflow: hidden
	height: 100%

#box
	position: relative
	div
		width: 100%
		height: 100%
		position: absolute

#background, #nav_wrapper
	width: 100vw
	height: 110vh
	position: absolute
	top: 0
	display: flex
	
	align-items: center
	
	.cont
		width: 80vw

#background
	background: #ccc
	transition: background 0.1s ease-out
	display: flex
	-webkit-justify-content: center 
	justify-content: center 
	
	.cont
		height: 100vh
		position: relative

		.tag-line
			position: absolute
			right: 30px
			top: 30px
			width: 50vw
			font-size: 5em
			line-height: 1em
			color: rgba(255,255,255,0.14)
			font-family: Bonnbeta
			text-align: right
			display: flex
			align-content: flex-end
			justify-content: flex-end
			flex-direction: column

#nav_wrapper
	display: flex
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	justify-content: space-between

	header, footer
		height: 10vh
		width: 100vw

	header
		display: flex
		justify-content: center
		align-items: center
		padding-left: 20px
		padding-right: 20px
		height: 100px
		.logo
			box-sizing: border-box
			width: 90px
			height: 90px
			max-width: 40vw
			max-height: 40vw
			background: url(../../dist/img/Oasis-Logo.png) no-repeat center
			background-size: contain
		.arrows
			display: none
			flex-direction: row
			div
				margin: 0 7px
	section
		height: calc(90vh - 100px)
		display: flex
		flex-direction: column
		.container
			display: flex
			flex-direction: row
			justify-content: space-around
			height: 70vh
			width: 100%
			align-items: center
			margin: 0
			flex: 1
			.change
				width: 50px
				height: 50px
				// border: 1px solid #fff
				border-radius: 50%
				
				
			
				
			#box
				width: 65vh
				height: 65vh
		.event-name
			font-size: 7em
			color: #fff
			font-family: Bonnbeta
			margin-left: 30px
			margin-bottom: 40px

	footer
		background: #fff
		display: flex
		-webkit-justify-content: center 
		justify-content: center 
		
		align-items: center
		color: #777
		font-family: MontserratEL
		.cont
			display: flex 
			-webkit-justify-content: space-between 
			justify-content: space-between 
			nav
				display: flex

				li
					list-style: none
					margin: 0 20px
					font-family: MontserratEL
					font-weight: light

.change
	width: 50px
	height: 50px
	// border: 1px solid #fff
	border-radius: 50%
	background: url(../img/arrow.png) 0 0 no-repeat
	background-size: cover 
.prev
	transform: rotate(-180deg)

@media all and (max-aspect-ratio: 10/13)
	#nav_wrapper
		header
			.arrows
				display: flex
			.logo
				width: 80px
				height: 80px
		section
			.change
				display: none
			.container #box
				height: 60vh
				width: 60vh
			.event-name
				width: 100%
				display: flex
				justify-content: center
				margin-left: 0
				margin-bottom: 30px
		footer
			nav li:nth-child(2), div
				display: none
			nav
				width: 100%
				justify-content: center
				font-size: 2em
	#background .tag-line
		top: 130px
		justify-content: center
		right: calc(50vw - 30vh + 20px)
		width: 60vh

@media all and (max-aspect-ratio: 2/3)
	#nav_wrapper
		section
			.container
				align-items: flex-start
				#box
					width: 100vw
					height: 100vw

@media all and (max-width: 500px)
	#background .tag-line
		width: calc(100vw - 40px)
		left: 20px
	#nav_wrapper
		header
			.cont
				display: flex
				flex-direction: row
				justify-content: space-around
				align-items: center
		footer nav
			font-size: 1.5em
		footer
			position: fixed
			bottom: 0
			left: 0
			right: 0
		section
			margin-bottom: 10vh
			.container
				#box
					width: 80vw
					height: 80vw
			.event-name
				margin-bottom: 60px

@media all and (max-height: 650px)
	#background .tag-line
		font-size: 4em
		top: 90px
		right: 20px
	#nav_wrapper
		section
			.container
				align-items: flex-start
			.event-name
				font-size: 4em
				margin-bottom: 25px

@media all and (orientation: landscape) and (max-height: 650px)
	body
		#background
			.tag-line
				right: calc(50vw - 40vh)
		#nav_wrapper
			header
				position: absolute
				top: 0
				left: 0
			section
				width: 100vw
				height: 100vh
				position: absolute
				top: 0
				left: 0
				display: block
				.container
					height: 100vh
					position: absolute
					top: 0
					left: 0
				.event-name
					position: absolute
					bottom: 40px
			footer
				position: absolute
				bottom: 0
				left: 0
				right: 0
@media all and (orientation: landscape) and (max-height: 500px)
	#nav_wrapper
		section
			.event-name
				margin-bottom: 10px
	#background
		.tag-line
			top: 20px
			font-size: 3em

@media all and (orientation: portrait) and (max-height: 520px)
	#nav_wrapper
		section
			.container
				align-items: flex-start
