#events_wrapper
  *
    margin: 0
    padding: 0
    box-sizing: border-box

  width: 100vw
  height: 100vh
  position: relative
  font-size: 18px


  .change
    width: 75px
    height: 75px
    border-radius: 100%
    background: url(../img/arrow1.png) no-repeat center
    background-size: cover
  .change.prev
    transform: rotate(180deg)


  header
    position: absolute
    display: flex
    top: 0
    left: 0
    width: 100vw
    height: 100px
    align-items: center
    justify-content: space-between
    padding: 0 20px
    z-index: 1

    #Arrows
      display: flex
      display: none
      height: 50px
      width: 150px
      justify-content: space-around

      div
        height: 50px
        width: 50px

  .logo
    height: 100px
    width: 100px
    margin: 10px
    position: absolute
    top: 0
    background: url(../img/Oasis-Logo.png)
    background-size: contain

  section
    position: absolute
    display: flex
    flex-direction: column
    width: 100vw
    height: 100%
    align-items: center
    justify-content: space-around
    // background: #938FFF
    transition: background 0.7s cubic-bezier(0.53,0.54,0.1,0.4)

    #Main
      position: relative
      display: flex
      flex-direction: column
      width: 100vw
      flex: 1
      align-content: space-around

    #Polys
      position: relative
      display: flex
      width: 100vw
      flex: 1
      align-items: center
      justify-content: space-around

      #Box
        position: relative
        width: 60vh
        height: 60vh
        margin-top: -5vh
        z-index: 1
        div
          position: absolute
          width: 100%
          height: 100%

    #EventName
      position: absolute
      display: flex
      width: 100vw
      height: 11vh
      font-size: 15vh
      font-family: "Bonnbeta"
      text-transform: uppercase
      align-items: center
      justify-content: flex-start
      padding: 0 30px
      bottom: 10px
      color: #fff
      letter-spacing: 4pt
      text-align: center
      span
        margin-right: -4pt

    #TagLine
      position: absolute
      right: 0
      top: 0
      display: flex
      flex-direction: column
      min-width: 400px
      max-width: 100vw
      font-size: 15vh
      font-family: "Bonnbeta"
      text-transform: uppercase
      align-content: flex-end
      padding: 30px
      word-wrap: break-word
      text-align: right
      color: rgba(255,255,255,0.42)
      letter-spacing: 4pt
      span
        margin-right: -4pt

    nav
      position: relative
      display: flex
      height: 8vh
      width: 100vw
      background: #fff
      align-items: center
      justify-content: space-between

      ul
        position: relative
        display: flex
        justify-content: space-between
        list-style-type: none
        width: 100vw
        margin-left: 50px

        li
          font-family: "Azo Sans Regular"
          font-size: 4vh
          margin: 0 20px
          padding: 5px 7px

      div
        font-family: "MontserratEL"
        font-size: 4vh
        margin: 0 20px
        padding: 0 10px


  // Responsiveness
  // When viewport changes from landscape to portrait (i.e aspect ratio drops from above 1 to below 1),
  // Shift the arrows up and width of #Box will be w.r.t. vw
  // Event Name will come in center
  @media all and (max-aspect-ratio: 1/1)
    #Main .change
      display: none
    header
      display: flex
      -webkit-flex-direction: column
      -ms-flex-direction: column
      flex-direction: column
      justify-content: center
    header #Arrows
      display: flex
      -webkit-align-self: flex-end
      align-self: flex-end
    .logo
      width: 70px
      height: 70px
    section #EventName
      justify-content: center
    section #TagLine
      top: 70px
    #Box
      position: relative
      max-width: 90vw
      max-height: 90vw

    // When in Portrait + 650Width mode, reduce nav to single element
    @media all and (max-width: 800px)
      section nav
        justify-content: center
        ul
          justify-content: space-around
          margin-left: 0
        ul li
          font-family: "Azo Sans Bold"
          font-size: 5vh
        li:nth-child(2), div
          display: none

    @media all and (max-width: 475px)
      section #TagLine
        display: none
      section #EventName
        font-size: 8vh
        height: 7vh
      section #Polys #Box
        margin-top: 5vh

  // Landscape + Less height
  // #Box's size should be according to vh
  @media all and (orientation: portrait) and (max-height: 500px)
    section #Polys #Box
      width: 60vh
      height: 60vh
