*
  padding: 0
  margin: 0
  box-sizing: border-box

html, body
  width: 100vw
  height: 100vh
  position: relative

body
  background: #000

@keyframes lineani
  0%
    stroke-dashoffset: 2000px
    stroke-width: 0.3
  100%
    stroke-dashoffset: 0px
    stroke-width: 0.7

section#loader
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center

  #frame
    width: 70vh
    height: 70vh
    position: relative

    .inactive
      display: none

    #box
      width: 100%
      height: 100%
      div
        width: 100%
        height: 100%
        position: absolute

    svg
      width: 100%
      height: 100%
      *
        stroke-dasharray: 2000px
        stroke-dashoffset: 2000px
        animation: 5s lineani cubic-bezier(.7,.3,0,1) both
        stroke: #ffffff

      @for $i from 1 through 6
        $t: (2s + 0.75*$i)
        $d: ($i*0.2s)
        polygon:nth-of-type(#{$i})
          animation-delay: $d
          animation-duration: $t

      @for $i from 7 through 24
        $t: (10s + 0.75*$i)
        $d: ($i*0.2s)
        polygon:nth-of-type(#{$i})
          animation-delay: $d
          animation-duration: $t

$fluidpolygons: .7,.3,0,1
body #box
  @for $i from 1 through 70

    $s: ($i*0.04+0.3s)
    $t: ($i*0.02s+0.2s)
    $ct: ($i*0.02s)

    div:nth-child(#{$i})
      transition: all $s $t cubic-bezier($fluidpolygons), background-color $s $ct
