#box.logo, #box.transparent
  #b1
    -webkit-clip-path: polygon(10.833333333333334% 68.85666666666667%, 14.780000000000001% 60.24666666666667%, 10.833333333333334% 53.666666666666664% )
    clip-path: polygon(10.833333333333334% 68.85666666666667%, 14.780000000000001% 60.24666666666667%, 10.833333333333334% 53.666666666666664% )
    background: #e13217
  #b2
    -webkit-clip-path: polygon(10.833333333333334% 53.666666666666664%, 21% 48.88333333333333%, 14.780000000000001% 60.24666666666667% )
    clip-path: polygon(10.833333333333334% 53.666666666666664%, 21% 48.88333333333333%, 14.780000000000001% 60.24666666666667% )
    background: #ea3e2d
  #b3
    -webkit-clip-path: polygon(21% 48.88333333333333%, 39.016666666666666% 50.876666666666665%, 15.616666666666667% 58.71666666666667% )
    clip-path: polygon(21% 48.88333333333333%, 39.016666666666666% 50.876666666666665%, 15.616666666666667% 58.71666666666667% )
    background: #c12717
  #b4
    -webkit-clip-path: polygon(21% 48.88333333333333%, 29.73% 45.29666666666666%, 39.016666666666666% 50.876666666666665% )
    clip-path: polygon(21% 48.88333333333333%, 29.73% 45.29666666666666%, 39.016666666666666% 50.876666666666665% )
    background: #ea3e2d
  #b5
    -webkit-clip-path: polygon(29.73% 45.29666666666666%, 35.43% 39.31666666666667%, 39.016666666666666% 50.876666666666665% )
    clip-path: polygon(29.73% 45.29666666666666%, 35.43% 39.31666666666667%, 39.016666666666666% 50.876666666666665% )
    background: #e13217
  #b6
    -webkit-clip-path: polygon(44.056666666666665% 24.776666666666667%, 35.43% 39.31666666666667%, 39.016666666666666% 50.876666666666665% )
    clip-path: polygon(44.056666666666665% 24.776666666666667%, 35.43% 39.31666666666667%, 39.016666666666666% 50.876666666666665% )
    background: #c12717
  #b7
    -webkit-clip-path: polygon(22.673333333333332% 31.503333333333334%, 27.856666666666666% 31.503333333333334%, 30.886666666666667% 38.199999999999996% )
    clip-path: polygon(22.673333333333332% 31.503333333333334%, 27.856666666666666% 31.503333333333334%, 30.886666666666667% 38.199999999999996% )
    background: #ea3e2d
  #b8
    -webkit-clip-path: polygon(22.673333333333332% 31.503333333333334%, 18.926666666666666% 37.00333333333334%, 21.796666666666667% 42.42666666666667% )
    clip-path: polygon(22.673333333333332% 31.503333333333334%, 18.926666666666666% 37.00333333333334%, 21.796666666666667% 42.42666666666667% )
    background: #c12717
  #b9
    -webkit-clip-path: polygon(21.796666666666667% 42.42666666666667%, 30.886666666666667% 38.199999999999996%, 22.673333333333332% 31.503333333333334% )
    clip-path: polygon(21.796666666666667% 42.42666666666667%, 30.886666666666667% 38.199999999999996%, 22.673333333333332% 31.503333333333334% )
    background: #e13217
  #b10
    -webkit-clip-path: polygon(21.796666666666667% 42.42666666666667%, 27.02% 42.78333333333333%, 30.886666666666667% 38.199999999999996% )
    clip-path: polygon(21.796666666666667% 42.42666666666667%, 27.02% 42.78333333333333%, 30.886666666666667% 38.199999999999996% )
    background: #ea3e2d
  #b11
    -webkit-clip-path: polygon(46.75% 11.093333333333334%, 40.693333333333335% 41.86666666666667%, 49.46% 16.513333333333332% )
    clip-path: polygon(46.75% 11.093333333333334%, 40.693333333333335% 41.86666666666667%, 49.46% 16.513333333333332% )
    background: #ea3e2d
  #b12
    -webkit-clip-path: polygon(21% 56.913333333333334%, 30.486666666666665% 61.72%, 39.016666666666666% 50.876666666666665% )
    clip-path: polygon(21% 56.913333333333334%, 30.486666666666665% 61.72%, 39.016666666666666% 50.876666666666665% )
    background: #e13217
  #b13
    -webkit-clip-path: polygon(39.016666666666666% 50.876666666666665%, 40.693333333333335% 63.07666666666666%, 30.486666666666665% 61.72% )
    clip-path: polygon(39.016666666666666% 50.876666666666665%, 40.693333333333335% 63.07666666666666%, 30.486666666666665% 61.72% )
    background: #e13217
  #b14
    -webkit-clip-path: polygon(30.486666666666665% 61.72%, 35.589999999999996% 72.64333333333333%, 40.693333333333335% 63.07666666666666% )
    clip-path: polygon(30.486666666666665% 61.72%, 35.589999999999996% 72.64333333333333%, 40.693333333333335% 63.07666666666666% )
    background: #c12717
  #b15
    -webkit-clip-path: polygon(40.693333333333335% 63.07666666666666%, 48.18666666666667% 73.60000000000001%, 35.589999999999996% 72.64333333333333% )
    clip-path: polygon(40.693333333333335% 63.07666666666666%, 48.18666666666667% 73.60000000000001%, 35.589999999999996% 72.64333333333333% )
    background: #e13217
  #b16
    -webkit-clip-path: polygon(35.589999999999996% 72.64333333333333%, 48.18666666666667% 73.60000000000001%, 55.20333333333334% 89.38666666666667% )
    clip-path: polygon(35.589999999999996% 72.64333333333333%, 48.18666666666667% 73.60000000000001%, 55.20333333333334% 89.38666666666667% )
    background: #e13217
  #b17
    -webkit-clip-path: polygon(48.18666666666667% 73.60000000000001%, 66.28333333333333% 89.38666666666667%, 55.20333333333334% 89.38666666666667% )
    clip-path: polygon(48.18666666666667% 73.60000000000001%, 66.28333333333333% 89.38666666666667%, 55.20333333333334% 89.38666666666667% )
    background: #ea3e2d
  #b18
    -webkit-clip-path: polygon(69.63333333333334% 98.71333333333332%, 66.28333333333333% 89.38666666666667%, 55.20333333333334% 89.38666666666667% )
    clip-path: polygon(69.63333333333334% 98.71333333333332%, 66.28333333333333% 89.38666666666667%, 55.20333333333334% 89.38666666666667% )
    background: #c12717
  #b19
    -webkit-clip-path: polygon(35.589999999999996% 72.64333333333333%, 35.43% 79.5%, 55.20333333333334% 89.38666666666667% )
    clip-path: polygon(35.589999999999996% 72.64333333333333%, 35.43% 79.5%, 55.20333333333334% 89.38666666666667% )
    background: #ea3e2d
  #b20
    -webkit-clip-path: polygon(39.416666666666664% 89.38666666666667%, 35.43% 79.5%, 55.20333333333334% 89.38666666666667% )
    clip-path: polygon(39.416666666666664% 89.38666666666667%, 35.43% 79.5%, 55.20333333333334% 89.38666666666667% )
    background: #c12717
  #b21
    -webkit-clip-path: polygon(35.43% 79.5%, 30.486666666666665% 86.67666666666666%, 39.416666666666664% 89.38666666666667% )
    clip-path: polygon(35.43% 79.5%, 30.486666666666665% 86.67666666666666%, 39.416666666666664% 89.38666666666667% )
    background: #e13217
  #b22
    -webkit-clip-path: polygon(28.333333333333332% 91.14%, 39.42333333333333% 89.38666666666667%, 30.486666666666665% 86.67666666666666% )
    clip-path: polygon(28.333333333333332% 91.14%, 39.42333333333333% 89.38666666666667%, 30.486666666666665% 86.67666666666666% )
    background: #ea3e2d
  #b23
    -webkit-clip-path: polygon(21.55666666666667% 86.11666666666667%, 28.333333333333332% 91.14%, 30.486666666666665% 86.67666666666666% )
    clip-path: polygon(21.55666666666667% 86.11666666666667%, 28.333333333333332% 91.14%, 30.486666666666665% 86.67666666666666% )
    background: #c12717
  #b24
    -webkit-clip-path: polygon(49.46% 8.82%, 51.416666666666664% 12.806666666666667%, 54.72333333333333% 11.49% )
    clip-path: polygon(49.46% 8.82%, 51.416666666666664% 12.806666666666667%, 54.72333333333333% 11.49% )
    background: #fff039
  #b25
    -webkit-clip-path: polygon(54.72333333333333% 11.49%, 56.596666666666664% 18.466666666666665%, 51.416666666666664% 12.806666666666667% )
    clip-path: polygon(54.72333333333333% 11.49%, 56.596666666666664% 18.466666666666665%, 51.416666666666664% 12.806666666666667% )
    background: #fcd700
  #b26
    -webkit-clip-path: polygon(51.416666666666664% 12.806666666666667%, 49.74% 26.88%, 56.596666666666664% 18.466666666666665% )
    clip-path: polygon(51.416666666666664% 12.806666666666667%, 49.74% 26.88%, 56.596666666666664% 18.466666666666665% )
    background: #fff039
  #b27
    -webkit-clip-path: polygon(49.74% 26.88%, 65.32666666666667% 20.5%, 56.596666666666664% 18.466666666666665% )
    clip-path: polygon(49.74% 26.88%, 65.32666666666667% 20.5%, 56.596666666666664% 18.466666666666665% )
    background: #fcd700
  #b28
    -webkit-clip-path: polygon(56.596666666666664% 18.466666666666665%, 63.413333333333334% 17.073333333333334%, 65.32666666666667% 20.5% )
    clip-path: polygon(56.596666666666664% 18.466666666666665%, 63.413333333333334% 17.073333333333334%, 65.32666666666667% 20.5% )
    background: #fef200
  #b29
    -webkit-clip-path: polygon(63.413333333333334% 17.073333333333334%, 72.50333333333333% 15.276666666666666%, 65.32666666666667% 20.5% )
    clip-path: polygon(63.413333333333334% 17.073333333333334%, 72.50333333333333% 15.276666666666666%, 65.32666666666667% 20.5% )
    background: #fcd700
  #b30
    -webkit-clip-path: polygon(72.50333333333333% 1.2866666666666666%, 76.85000000000001% 7.503333333333334%, 79.83666666666666% 5.829999999999999% )
    clip-path: polygon(72.50333333333333% 1.2866666666666666%, 76.85000000000001% 7.503333333333334%, 79.83666666666666% 5.829999999999999% )
    background: #00aeef
  #b31
    -webkit-clip-path: polygon(76.85000000000001% 7.503333333333334%, 76.85000000000001% 14.979999999999999%, 79.83666666666666% 5.829999999999999% )
    clip-path: polygon(76.85000000000001% 7.503333333333334%, 76.85000000000001% 14.979999999999999%, 79.83666666666666% 5.829999999999999% )
    background: #2d87c5
  #b32
    -webkit-clip-path: polygon(79.83666666666666% 5.829999999999999%, 75.61333333333333% 32.22%, 76.86666666666666% 14.926666666666668% )
    clip-path: polygon(79.83666666666666% 5.829999999999999%, 75.61333333333333% 32.22%, 76.86666666666666% 14.926666666666668% )
    background: #2d87c5
  #b33
    -webkit-clip-path: polygon(79.83666666666666% 5.829999999999999%, 83.90333333333334% 18.786666666666665%, 75.61333333333333% 32.22% )
    clip-path: polygon(79.83666666666666% 5.829999999999999%, 83.90333333333334% 18.786666666666665%, 75.61333333333333% 32.22% )
    background: #00aeef
  #b34
    -webkit-clip-path: polygon(76.86666666666666% 14.926666666666668%, 71.14666666666666% 21.62%, 75.61333333333333% 32.22% )
    clip-path: polygon(76.86666666666666% 14.926666666666668%, 71.14666666666666% 21.62%, 75.61333333333333% 32.22% )
    background: #49d2fc
  #b35
    -webkit-clip-path: polygon(71.14666666666666% 21.62%, 59.906666666666666% 27.356666666666666%, 75.61333333333333% 32.22% )
    clip-path: polygon(71.14666666666666% 21.62%, 59.906666666666666% 27.356666666666666%, 75.61333333333333% 32.22% )
    background: #2d87c5
  #b36
    -webkit-clip-path: polygon(59.906666666666666% 27.356666666666666%, 61.580000000000005% 41.15%, 75.61333333333333% 32.22% )
    clip-path: polygon(59.906666666666666% 27.356666666666666%, 61.580000000000005% 41.15%, 75.61333333333333% 32.22% )
    background: #00aeef
  #b37
    -webkit-clip-path: polygon(54.00666666666667% 49.76%, 61.580000000000005% 41.15%, 59.906666666666666% 27.356666666666666% )
    clip-path: polygon(54.00666666666667% 49.76%, 61.580000000000005% 41.15%, 59.906666666666666% 27.356666666666666% )
    background: #2d87c5
  #b38
    -webkit-clip-path: polygon(54.00666666666667% 49.76%, 59.906666666666666% 27.356666666666666%, 49.46% 31.503333333333334% )
    clip-path: polygon(54.00666666666667% 49.76%, 59.906666666666666% 27.356666666666666%, 49.46% 31.503333333333334% )
    background: #49d2fc
  #b39
    -webkit-clip-path: polygon(54.00666666666667% 49.76%, 49.46% 31.503333333333334%, 43.32333333333333% 43.54333333333333% )
    clip-path: polygon(54.00666666666667% 49.76%, 49.46% 31.503333333333334%, 43.32333333333333% 43.54333333333333% )
    background: #00aeef
  #b40
    -webkit-clip-path: polygon(43.32333333333333% 43.54333333333333%, 44.056666666666665% 56.300000000000004%, 54.00666666666667% 49.76% )
    clip-path: polygon(43.32333333333333% 43.54333333333333%, 44.056666666666665% 56.300000000000004%, 54.00666666666667% 49.76% )
    background: #2d87c5
  #b41
    -webkit-clip-path: polygon(54.00666666666667% 49.76%, 52.449999999999996% 55.02333333333333%, 44.056666666666665% 56.300000000000004% )
    clip-path: polygon(54.00666666666667% 49.76%, 52.449999999999996% 55.02333333333333%, 44.056666666666665% 56.300000000000004% )
    background: #2d87c5
  #b42
    -webkit-clip-path: polygon(44.056666666666665% 56.300000000000004%, 52.449999999999996% 55.02333333333333%, 52.449999999999996% 72.00333333333333% )
    clip-path: polygon(44.056666666666665% 56.300000000000004%, 52.449999999999996% 55.02333333333333%, 52.449999999999996% 72.00333333333333% )
    background: #00aeef
  #b43
    -webkit-clip-path: polygon(52.449999999999996% 72.00333333333333%, 52.449999999999996% 63.07666666666666%, 55.52% 73.60000000000001% )
    clip-path: polygon(52.449999999999996% 72.00333333333333%, 52.449999999999996% 63.07666666666666%, 55.52% 73.60000000000001% )
    background: #49d2fc
  #b44
    -webkit-clip-path: polygon(65.32666666666667% 42.42666666666667%, 60.96333333333333% 52.23333333333333%, 57.71333333333333% 50.876666666666665% )
    clip-path: polygon(65.32666666666667% 42.42666666666667%, 60.96333333333333% 52.23333333333333%, 57.71333333333333% 50.876666666666665% )
    background: #f47a16
  #b45
    -webkit-clip-path: polygon(61.580000000000005% 61.26%, 60.96333333333333% 52.23333333333333%, 57.71333333333333% 50.876666666666665% )
    clip-path: polygon(61.580000000000005% 61.26%, 60.96333333333333% 52.23333333333333%, 57.71333333333333% 50.876666666666665% )
    background: #ea770d
  #b46
    -webkit-clip-path: polygon(57.71333333333333% 50.876666666666665%, 61.580000000000005% 61.26%, 54.00666666666667% 63.07666666666666% )
    clip-path: polygon(57.71333333333333% 50.876666666666665%, 61.580000000000005% 61.26%, 54.00666666666667% 63.07666666666666% )
    background: #ea770d
  #b47
    -webkit-clip-path: polygon(54.00666666666667% 63.07666666666666%, 63.413333333333334% 79.5%, 61.580000000000005% 61.26% )
    clip-path: polygon(54.00666666666667% 63.07666666666666%, 63.413333333333334% 79.5%, 61.580000000000005% 61.26% )
    background: #f47a16
  #b48
    -webkit-clip-path: polygon(70.14% 73.60000000000001%, 75.61333333333333% 88.63%, 63.413333333333334% 79.5% )
    clip-path: polygon(70.14% 73.60000000000001%, 75.61333333333333% 88.63%, 63.413333333333334% 79.5% )
    background: #f7872b
  #b49
    -webkit-clip-path: polygon(61.580000000000005% 61.26%, 70.14% 73.60000000000001%, 63.413333333333334% 79.5% )
    clip-path: polygon(61.580000000000005% 61.26%, 70.14% 73.60000000000001%, 63.413333333333334% 79.5% )
    background: #ea770d
  #b50
    -webkit-clip-path: polygon(66.28333333333333% 60.24666666666667%, 70.14% 73.60000000000001%, 64.78333333333333% 65.89666666666666% )
    clip-path: polygon(66.28333333333333% 60.24666666666667%, 70.14% 73.60000000000001%, 64.78333333333333% 65.89666666666666% )
    background: #f47a16
  #b51
    -webkit-clip-path: polygon(66.28333333333333% 60.24666666666667%, 71.14666666666666% 62.16%, 70.14% 73.60000000000001% )
    clip-path: polygon(66.28333333333333% 60.24666666666667%, 71.14666666666666% 62.16%, 70.14% 73.60000000000001% )
    background: #f47a16
  #b52
    -webkit-clip-path: polygon(74% 53.800000000000004%, 66.28333333333333% 60.24666666666667%, 71.14666666666666% 62.16% )
    clip-path: polygon(74% 53.800000000000004%, 66.28333333333333% 60.24666666666667%, 71.14666666666666% 62.16% )
    background: #ea770d
  #b53
    -webkit-clip-path: polygon(71.14666666666666% 42.42666666666667%, 68.79666666666667% 39.913333333333334%, 66.56333333333333% 46.373333333333335% )
    clip-path: polygon(71.14666666666666% 42.42666666666667%, 68.79666666666667% 39.913333333333334%, 66.56333333333333% 46.373333333333335% )
    background: #37a84c
  #b54
    -webkit-clip-path: polygon(79.52% 33.21666666666667%, 68.79666666666667% 39.913333333333334%, 71.14666666666666% 42.42666666666667% )
    clip-path: polygon(79.52% 33.21666666666667%, 68.79666666666667% 39.913333333333334%, 71.14666666666666% 42.42666666666667% )
    background: #37a84c
  #b55
    -webkit-clip-path: polygon(79.52% 33.21666666666667%, 71.14666666666666% 42.42666666666667%, 80.94% 38.09666666666667% )
    clip-path: polygon(79.52% 33.21666666666667%, 71.14666666666666% 42.42666666666667%, 80.94% 38.09666666666667% )
    background: #37a84c
  #b56
    -webkit-clip-path: polygon(85.35666666666667% 23.53333333333333%, 79.52% 33.21666666666667%, 81.13666666666667% 38.776666666666664% )
    clip-path: polygon(85.35666666666667% 23.53333333333333%, 79.52% 33.21666666666667%, 81.13666666666667% 38.776666666666664% )
    background: #3c3
  #b57
    -webkit-clip-path: polygon(87.45333333333333% 15.956666666666665%, 89.16666666666667% 17.073333333333334%, 78.66333333333334% 47.72% )
    clip-path: polygon(87.45333333333333% 15.956666666666665%, 89.16666666666667% 17.073333333333334%, 78.66333333333334% 47.72% )
    background: #37a84c
  #b58
    -webkit-clip-path: polygon(78.52333333333333% 48.126666666666665%, 89.16666666666667% 17.073333333333334%, 78.76333333333334% 61.44% )
    clip-path: polygon(78.52333333333333% 48.126666666666665%, 89.16666666666667% 17.073333333333334%, 78.76333333333334% 61.44% )
    background: #279637
  #b59
    -webkit-clip-path: polygon(81.14666666666666% 38.79333333333333%, 77.72666666666667% 43.54333333333333%, 78.52333333333333% 48.126666666666665% )
    clip-path: polygon(81.14666666666666% 38.79333333333333%, 77.72666666666667% 43.54333333333333%, 78.52333333333333% 48.126666666666665% )
    background: #3c3
  #b60
    -webkit-clip-path: polygon(77.72666666666667% 43.54333333333333%, 69.07333333333334% 47.09%, 78.52333333333333% 48.126666666666665% )
    clip-path: polygon(77.72666666666667% 43.54333333333333%, 69.07333333333334% 47.09%, 78.52333333333333% 48.126666666666665% )
    background: #37a84c
  #b61
    -webkit-clip-path: polygon(69.79333333333334% 51.156666666666666%, 69.07333333333334% 47.09%, 78.52333333333333% 48.126666666666665% )
    clip-path: polygon(69.79333333333334% 51.156666666666666%, 69.07333333333334% 47.09%, 78.52333333333333% 48.126666666666665% )
    background: #37a84c
  #b62
    -webkit-clip-path: polygon(69.07333333333334% 47.09%, 69.79333333333334% 51.156666666666666%, 65.68666666666667% 55.699999999999996% )
    clip-path: polygon(69.07333333333334% 47.09%, 69.79333333333334% 51.156666666666666%, 65.68666666666667% 55.699999999999996% )
    background: #37a84c
  #b63
    -webkit-clip-path: polygon(69.07333333333334% 47.09%, 63.413333333333334% 52.629999999999995%, 65.68666666666667% 55.699999999999996% )
    clip-path: polygon(69.07333333333334% 47.09%, 63.413333333333334% 52.629999999999995%, 65.68666666666667% 55.699999999999996% )
    background: #3c3
  #b64
    -webkit-clip-path: polygon(65.68666666666667% 55.699999999999996%, 63.413333333333334% 52.629999999999995%, 63.413333333333334% 60.36333333333334% )
    clip-path: polygon(65.68666666666667% 55.699999999999996%, 63.413333333333334% 52.629999999999995%, 63.413333333333334% 60.36333333333334% )
    background: #3c3
  #b65
    -webkit-clip-path: polygon(63.413333333333334% 52.629999999999995%, 63.413333333333334% 60.36333333333334%, 62.26% 57.17666666666667% )
    clip-path: polygon(63.413333333333334% 52.629999999999995%, 63.413333333333334% 60.36333333333334%, 62.26% 57.17666666666667% )
    background: #3c3
  #b66
    -webkit-clip-path: polygon(74% 67.42%, 78.52333333333333% 48.126666666666665%, 78.76333333333334% 61.44% )
    clip-path: polygon(74% 67.42%, 78.52333333333333% 48.126666666666665%, 78.76333333333334% 61.44% )
    background: #37a84c
  #b67
    -webkit-clip-path: polygon(76.17% 77.22666666666667%, 74% 67.42%, 78.76333333333334% 61.44% )
    clip-path: polygon(76.17% 77.22666666666667%, 74% 67.42%, 78.76333333333334% 61.44% )
    background: #279637
  #b68
    -webkit-clip-path: polygon(77.63% 68.33666666666666%, 76.17% 77.22666666666667%, 80.91333333333334% 81.49333333333333% )
    clip-path: polygon(77.63% 68.33666666666666%, 76.17% 77.22666666666667%, 80.91333333333334% 81.49333333333333% )
    background: #3c3
  #b69
    -webkit-clip-path: polygon(77.63% 68.33666666666666%, 80.91333333333334% 81.49333333333333%, 87.85000000000001% 79.5% )
    clip-path: polygon(77.63% 68.33666666666666%, 80.91333333333334% 81.49333333333333%, 87.85000000000001% 79.5% )
    background: #3dd83d
  #b70
    -webkit-clip-path: polygon(77.63% 68.33666666666666%, 85.46% 72.08333333333333%, 87.85000000000001% 79.5% )
    clip-path: polygon(77.63% 68.33666666666666%, 85.46% 72.08333333333333%, 87.85000000000001% 79.5% )
    background: #37a84c
#box.transparent
  div
    background: transparent !important
#box.text
  #b1
    -webkit-clip-path: polygon(4.010666666666666% 27.566999999999997%, 3.640333333333333% 67.292%, 9.196% 33.49333333333333% )
    clip-path: polygon(4.010666666666666% 27.566999999999997%, 3.640333333333333% 67.292%, 9.196% 33.49333333333333% )
    background: #fc0c84
  #b2
    -webkit-clip-path: polygon(4.010666666666666% 27.566999999999997%, 17.576333333333334% 34.78966666666667%, 9.196% 33.49333333333333% )
    clip-path: polygon(4.010666666666666% 27.566999999999997%, 17.576333333333334% 34.78966666666667%, 9.196% 33.49333333333333% )
    background: #fa71cd
  #b3
    -webkit-clip-path: polygon(4.010666666666666% 27.566999999999997%, 16.722333333333335% 30.277666666666665%, 17.576333333333334% 34.78966666666667% )
    clip-path: polygon(4.010666666666666% 27.566999999999997%, 16.722333333333335% 30.277666666666665%, 17.576333333333334% 34.78966666666667% )
    background: transparent
  #b4
    -webkit-clip-path: polygon(9.196% 33.49333333333333%, 17.333333333333332% 39.291666666666664%, 17.576333333333334% 34.78966666666667% )
    clip-path: polygon(9.196% 33.49333333333333%, 17.333333333333332% 39.291666666666664%, 17.576333333333334% 34.78966666666667% )
    background: transparent
  #b5
    -webkit-clip-path: polygon(9.18% 33.49166666666667%, 7.900666666666667% 41.373333333333335%, 17.317333333333334% 39.29% )
    clip-path: polygon(9.18% 33.49166666666667%, 7.900666666666667% 41.373333333333335%, 17.317333333333334% 39.29% )
    background: transparent
  #b6
    -webkit-clip-path: polygon(7.900666666666667% 41.373333333333335%, 16.692333333333334% 51.83166666666667%, 17.317333333333334% 39.29% )
    clip-path: polygon(7.900666666666667% 41.373333333333335%, 16.692333333333334% 51.83166666666667%, 17.317333333333334% 39.29% )
    background: transparent
  #b7
    -webkit-clip-path: polygon(7.900666666666667% 41.373333333333335%, 5.852% 53.839333333333336%, 16.692333333333334% 51.83166666666667% )
    clip-path: polygon(7.900666666666667% 41.373333333333335%, 5.852% 53.839333333333336%, 16.692333333333334% 51.83166666666667% )
    background: transparent
  #b8
    -webkit-clip-path: polygon(5.852% 53.839333333333336%, 16.002% 64.977%, 16.708333333333332% 51.833333333333336% )
    clip-path: polygon(5.852% 53.839333333333336%, 16.002% 64.977%, 16.708333333333332% 51.833333333333336% )
    background: transparent
  #b9
    -webkit-clip-path: polygon(5.852% 53.839333333333336%, 16.002% 64.977%, 10.35% 66.03666666666668% )
    clip-path: polygon(5.852% 53.839333333333336%, 16.002% 64.977%, 10.35% 66.03666666666668% )
    background: transparent
  #b10
    -webkit-clip-path: polygon(5.852% 53.839333333333336%, 10.35% 66.03666666666668%, 4.675666666666666% 60.99166666666667% )
    clip-path: polygon(5.852% 53.839333333333336%, 10.35% 66.03666666666668%, 4.675666666666666% 60.99166666666667% )
    background: transparent
  #b11
    -webkit-clip-path: polygon(4.675666666666666% 60.99166666666667%, 10.35% 66.03666666666668%, 3.640333333333333% 67.292% )
    clip-path: polygon(4.675666666666666% 60.99166666666667%, 10.35% 66.03666666666668%, 3.640333333333333% 67.292% )
    background: #fa71cd
  #b12
    -webkit-clip-path: polygon(3.640333333333333% 67.292%, 16.002% 64.977%, 20.400666666666666% 70.718% )
    clip-path: polygon(3.640333333333333% 67.292%, 16.002% 64.977%, 20.400666666666666% 70.718% )
    background: #fc0c84
  #b13
    -webkit-clip-path: polygon(17.576333333333334% 34.78966666666667%, 16.002% 64.977%, 20.400666666666666% 70.718% )
    clip-path: polygon(17.576333333333334% 34.78966666666667%, 16.002% 64.977%, 20.400666666666666% 70.718% )
    background: #fa71cd
  #b14
    -webkit-clip-path: polygon(24.557666666666666% 39.562999999999995%, 30.105% 71.22733333333333%, 22.573666666666668% 63.63399999999999% )
    clip-path: polygon(24.557666666666666% 39.562999999999995%, 30.105% 71.22733333333333%, 22.573666666666668% 63.63399999999999% )
    background: #00f5b2
  #b15
    -webkit-clip-path: polygon(26.015666666666664% 47.895999999999994%, 35.73133333333333% 44.625%, 24.557666666666666% 39.562999999999995% )
    clip-path: polygon(26.015666666666664% 47.895999999999994%, 35.73133333333333% 44.625%, 24.557666666666666% 39.562999999999995% )
    background: #05e082
  #b16
    -webkit-clip-path: polygon(24.557666666666666% 39.562999999999995%, 37.574666666666666% 40.29933333333333%, 35.73133333333333% 44.625% )
    clip-path: polygon(24.557666666666666% 39.562999999999995%, 37.574666666666666% 40.29933333333333%, 35.73133333333333% 44.625% )
    background: #00f5b2
  #b17
    -webkit-clip-path: polygon(35.73133333333333% 44.625%, 26.015666666666664% 47.895999999999994%, 26.805666666666667% 52.361% )
    clip-path: polygon(35.73133333333333% 44.625%, 26.015666666666664% 47.895999999999994%, 26.805666666666667% 52.361% )
    background: transparent
  #b18
    -webkit-clip-path: polygon(35.73133333333333% 44.625%, 26.805666666666667% 52.361%, 27.543000000000003% 57.044000000000004% )
    clip-path: polygon(35.73133333333333% 44.625%, 26.805666666666667% 52.361%, 27.543000000000003% 57.044000000000004% )
    background: transparent
  #b19
    -webkit-clip-path: polygon(35.73133333333333% 44.625%, 27.543000000000003% 57.044000000000004%, 31.462999999999997% 54.621% )
    clip-path: polygon(35.73133333333333% 44.625%, 27.543000000000003% 57.044000000000004%, 31.462999999999997% 54.621% )
    background: transparent
  #b20
    -webkit-clip-path: polygon(27.543000000000003% 57.044000000000004%, 31.462999999999997% 54.621%, 34.241% 59.86833333333333% )
    clip-path: polygon(27.543000000000003% 57.044000000000004%, 31.462999999999997% 54.621%, 34.241% 59.86833333333333% )
    background: #00f5b2
  #b21
    -webkit-clip-path: polygon(27.543000000000003% 57.044000000000004%, 34.241% 59.86833333333333%, 28.458333333333332% 62.125% )
    clip-path: polygon(27.543000000000003% 57.044000000000004%, 34.241% 59.86833333333333%, 28.458333333333332% 62.125% )
    background: transparent
  #b22
    -webkit-clip-path: polygon(34.241% 59.86833333333333%, 29.18766666666667% 66.04166666666667%, 28.458333333333332% 62.125% )
    clip-path: polygon(34.241% 59.86833333333333%, 29.18766666666667% 66.04166666666667%, 28.458333333333332% 62.125% )
    background: transparent
  #b23
    -webkit-clip-path: polygon(34.241% 59.86833333333333%, 36.27066666666666% 65.47933333333333%, 29.18766666666667% 66.04166666666667% )
    clip-path: polygon(34.241% 59.86833333333333%, 36.27066666666666% 65.47933333333333%, 29.18766666666667% 66.04166666666667% )
    background: transparent
  #b24
    -webkit-clip-path: polygon(29.18766666666667% 66.04166666666667%, 30.105% 71.22733333333333%, 38.22266666666667% 70.76433333333334% )
    clip-path: polygon(29.18766666666667% 66.04166666666667%, 30.105% 71.22733333333333%, 38.22266666666667% 70.76433333333334% )
    background: transparent
  #b25
    -webkit-clip-path: polygon(29.18766666666667% 66.04166666666667%, 38.22266666666667% 70.76433333333334%, 36.27066666666666% 65.47933333333333% )
    clip-path: polygon(29.18766666666667% 66.04166666666667%, 38.22266666666667% 70.76433333333334%, 36.27066666666666% 65.47933333333333% )
    background: transparent
  #b26
    -webkit-clip-path: polygon(37.574666666666666% 40.29933333333333%, 38.22266666666667% 70.76433333333334%, 34.241% 59.86833333333333% )
    clip-path: polygon(37.574666666666666% 40.29933333333333%, 38.22266666666667% 70.76433333333334%, 34.241% 59.86833333333333% )
    background: #00f5b2
  #b27
    -webkit-clip-path: polygon(37.574666666666666% 40.29933333333333%, 34.241% 59.86833333333333%, 31.462999999999997% 54.621% )
    clip-path: polygon(37.574666666666666% 40.29933333333333%, 34.241% 59.86833333333333%, 31.462999999999997% 54.621% )
    background: #05e082
  #b28
    -webkit-clip-path: polygon(41.175666666666665% 39.84966666666667%, 58.33133333333333% 43.44266666666667%, 54.22966666666667% 40.149% )
    clip-path: polygon(41.175666666666665% 39.84966666666667%, 58.33133333333333% 43.44266666666667%, 54.22966666666667% 40.149% )
    background: #1dc5ff
  #b29
    -webkit-clip-path: polygon(57.64266666666666% 36.34666666666667%, 58.33133333333333% 43.44266666666667%, 54.22966666666667% 40.149% )
    clip-path: polygon(57.64266666666666% 36.34666666666667%, 58.33133333333333% 43.44266666666667%, 54.22966666666667% 40.149% )
    background: #39cef7
  #b30
    -webkit-clip-path: polygon(41.175666666666665% 39.84966666666667%, 57.64266666666666% 36.34666666666667%, 54.22966666666667% 40.149% )
    clip-path: polygon(41.175666666666665% 39.84966666666667%, 57.64266666666666% 36.34666666666667%, 54.22966666666667% 40.149% )
    background: #1a85ff
  #b31
    -webkit-clip-path: polygon(58.33133333333333% 43.44266666666667%, 41.175666666666665% 39.84966666666667%, 43.958333333333336% 45.375% )
    clip-path: polygon(58.33133333333333% 43.44266666666667%, 41.175666666666665% 39.84966666666667%, 43.958333333333336% 45.375% )
    background: transparent
  #b32
    -webkit-clip-path: polygon(58.33133333333333% 43.44266666666667%, 45.52766666666667% 48.44433333333333%, 43.958333333333336% 45.375% )
    clip-path: polygon(58.33133333333333% 43.44266666666667%, 45.52766666666667% 48.44433333333333%, 43.958333333333336% 45.375% )
    background: transparent
  #b33
    -webkit-clip-path: polygon(58.33133333333333% 43.44266666666667%, 47.972% 53.203%, 45.52766666666667% 48.44433333333333% )
    clip-path: polygon(58.33133333333333% 43.44266666666667%, 47.972% 53.203%, 45.52766666666667% 48.44433333333333% )
    background: transparent
  #b34
    -webkit-clip-path: polygon(41.175666666666665% 39.84966666666667%, 42.074% 59.73%, 47.972% 53.203% )
    clip-path: polygon(41.175666666666665% 39.84966666666667%, 42.074% 59.73%, 47.972% 53.203% )
    background: #1a85ff
  #b35
    -webkit-clip-path: polygon(42.074% 59.73%, 58.391333333333336% 54.400666666666666%, 47.972% 53.203% )
    clip-path: polygon(42.074% 59.73%, 58.391333333333336% 54.400666666666666%, 47.972% 53.203% )
    background: #1dc5ff
  #b36
    -webkit-clip-path: polygon(58.33133333333333% 43.44266666666667%, 47.972% 53.203%, 54.125% 53.958333333333336% )
    clip-path: polygon(58.33133333333333% 43.44266666666667%, 47.972% 53.203%, 54.125% 53.958333333333336% )
    background: transparent
  #b37
    -webkit-clip-path: polygon(58.391333333333336% 54.400666666666666%, 58.33133333333333% 43.44266666666667%, 54.125% 53.958333333333336% )
    clip-path: polygon(58.391333333333336% 54.400666666666666%, 58.33133333333333% 43.44266666666667%, 54.125% 53.958333333333336% )
    background: transparent
  #b38
    -webkit-clip-path: polygon(58.391333333333336% 54.400666666666666%, 61.086000000000006% 70.209%, 51.59866666666667% 56.620000000000005% )
    clip-path: polygon(58.391333333333336% 54.400666666666666%, 61.086000000000006% 70.209%, 51.59866666666667% 56.620000000000005% )
    background: #1a85ff
  #b39
    -webkit-clip-path: polygon(51.59866666666667% 56.620000000000005%, 57.568000000000005% 65.15666666666667%, 48.389% 61.55566666666667% )
    clip-path: polygon(51.59866666666667% 56.620000000000005%, 57.568000000000005% 65.15666666666667%, 48.389% 61.55566666666667% )
    background: transparent
  #b40
    -webkit-clip-path: polygon(42.074% 59.73%, 51.59866666666667% 56.620000000000005%, 48.389% 61.55566666666667% )
    clip-path: polygon(42.074% 59.73%, 51.59866666666667% 56.620000000000005%, 48.389% 61.55566666666667% )
    background: transparent
  #b41
    -webkit-clip-path: polygon(42.074% 59.73%, 50.77766666666667% 66.25%, 48.389% 61.55566666666667% )
    clip-path: polygon(42.074% 59.73%, 50.77766666666667% 66.25%, 48.389% 61.55566666666667% )
    background: transparent
  #b42
    -webkit-clip-path: polygon(48.389% 61.55566666666667%, 50.77766666666667% 66.25%, 57.568000000000005% 65.15666666666667% )
    clip-path: polygon(48.389% 61.55566666666667%, 50.77766666666667% 66.25%, 57.568000000000005% 65.15666666666667% )
    background: transparent
  #b43
    -webkit-clip-path: polygon(42.074% 59.73%, 46.166666666666664% 67%, 50.77766666666667% 66.25% )
    clip-path: polygon(42.074% 59.73%, 46.166666666666664% 67%, 50.77766666666667% 66.25% )
    background: transparent
  #b44
    -webkit-clip-path: polygon(42.074% 59.73%, 43.181666666666665% 67.48466666666667%, 46.166666666666664% 67% )
    clip-path: polygon(42.074% 59.73%, 43.181666666666665% 67.48466666666667%, 46.166666666666664% 67% )
    background: transparent
  #b45
    -webkit-clip-path: polygon(43.181666666666665% 67.48466666666667%, 57.568000000000005% 65.15666666666667%, 61.086000000000006% 70.209% )
    clip-path: polygon(43.181666666666665% 67.48466666666667%, 57.568000000000005% 65.15666666666667%, 61.086000000000006% 70.209% )
    background: #1dc5ff
  #b46
    -webkit-clip-path: polygon(43.181666666666665% 67.48466666666667%, 44.708666666666666% 72.42466666666667%, 61.086000000000006% 70.209% )
    clip-path: polygon(43.181666666666665% 67.48466666666667%, 44.708666666666666% 72.42466666666667%, 61.086000000000006% 70.209% )
    background: #1a85ff
  #b47
    -webkit-clip-path: polygon(63.99333333333333% 55.318000000000005%, 63.833333333333336% 30.833333333333332%, 70.699% 30.113666666666663% )
    clip-path: polygon(63.99333333333333% 55.318000000000005%, 63.833333333333336% 30.833333333333332%, 70.699% 30.113666666666663% )
    background: transparent
  #b48
    -webkit-clip-path: polygon(70.699% 30.113666666666663%, 63.99333333333333% 55.318000000000005%, 65.843% 70.425% )
    clip-path: polygon(70.699% 30.113666666666663%, 63.99333333333333% 55.318000000000005%, 65.843% 70.425% )
    background: #f5c571
  #b49
    -webkit-clip-path: polygon(63.99333333333333% 55.318000000000005%, 65.111% 70.16666666666667%, 65.843% 70.425% )
    clip-path: polygon(63.99333333333333% 55.318000000000005%, 65.111% 70.16666666666667%, 65.843% 70.425% )
    background: transparent
  #b50
    -webkit-clip-path: polygon(70.699% 30.113666666666663%, 71.39266666666667% 66.64833333333333%, 65.843% 70.425% )
    clip-path: polygon(70.699% 30.113666666666663%, 71.39266666666667% 66.64833333333333%, 65.843% 70.425% )
    background: #eaaa44
  #b51
    -webkit-clip-path: polygon(65.843% 70.425%, 71.58333333333333% 69.611%, 71.39266666666667% 66.64833333333333% )
    clip-path: polygon(65.843% 70.425%, 71.58333333333333% 69.611%, 71.39266666666667% 66.64833333333333% )
    background: transparent
  #b52
    -webkit-clip-path: polygon(76.31566666666667% 39.638666666666666%, 92.89366666666666% 36.11233333333333%, 89.45733333333334% 39.940333333333335% )
    clip-path: polygon(76.31566666666667% 39.638666666666666%, 92.89366666666666% 36.11233333333333%, 89.45733333333334% 39.940333333333335% )
    background: #8401ff
  #b53
    -webkit-clip-path: polygon(92.89366666666666% 36.11233333333333%, 93.58666666666666% 43.256%, 89.45733333333334% 39.940333333333335% )
    clip-path: polygon(92.89366666666666% 36.11233333333333%, 93.58666666666666% 43.256%, 89.45733333333334% 39.940333333333335% )
    background: #c989f7
  #b54
    -webkit-clip-path: polygon(76.31566666666667% 39.638666666666666%, 93.58666666666666% 43.256%, 89.45733333333334% 39.940333333333335% )
    clip-path: polygon(76.31566666666667% 39.638666666666666%, 93.58666666666666% 43.256%, 89.45733333333334% 39.940333333333335% )
    background: #c471f5
  #b55
    -webkit-clip-path: polygon(93.58666666666666% 43.256%, 78.77766666666666% 44.5%, 76.31566666666667% 39.638666666666666% )
    clip-path: polygon(93.58666666666666% 43.256%, 78.77766666666666% 44.5%, 76.31566666666667% 39.638666666666666% )
    background: transparent
  #b56
    -webkit-clip-path: polygon(76.31566666666667% 39.638666666666666%, 77.21966666666667% 59.653%, 83.15766666666667% 53.082% )
    clip-path: polygon(76.31566666666667% 39.638666666666666%, 77.21966666666667% 59.653%, 83.15766666666667% 53.082% )
    background: #8401ff
  #b57
    -webkit-clip-path: polygon(93.58666666666666% 43.256%, 80.55566666666667% 47.94433333333333%, 78.77766666666666% 44.5% )
    clip-path: polygon(93.58666666666666% 43.256%, 80.55566666666667% 47.94433333333333%, 78.77766666666666% 44.5% )
    background: transparent
  #b58
    -webkit-clip-path: polygon(93.58666666666666% 43.256%, 83.15766666666667% 53.082%, 80.55566666666667% 47.94433333333333% )
    clip-path: polygon(93.58666666666666% 43.256%, 83.15766666666667% 53.082%, 80.55566666666667% 47.94433333333333% )
    background: transparent
  #b59
    -webkit-clip-path: polygon(93.58666666666666% 43.256%, 89.16666666666667% 53.77766666666667%, 83.15766666666667% 53.082% )
    clip-path: polygon(93.58666666666666% 43.256%, 89.16666666666667% 53.77766666666667%, 83.15766666666667% 53.082% )
    background: transparent
  #b60
    -webkit-clip-path: polygon(77.21966666666667% 59.653%, 93.64699999999999% 54.28766666666667%, 83.15766666666667% 53.082% )
    clip-path: polygon(77.21966666666667% 59.653%, 93.64699999999999% 54.28766666666667%, 83.15766666666667% 53.082% )
    background: #c471f5
  #b61
    -webkit-clip-path: polygon(93.58666666666666% 43.256%, 93.64699999999999% 54.28766666666667%, 89.16666666666667% 53.77766666666667% )
    clip-path: polygon(93.58666666666666% 43.256%, 93.64699999999999% 54.28766666666667%, 89.16666666666667% 53.77766666666667% )
    background: transparent
  #b62
    -webkit-clip-path: polygon(93.64699999999999% 54.28766666666667%, 96.35966666666667% 70.20266666666667%, 86.80866666666667% 56.522% )
    clip-path: polygon(93.64699999999999% 54.28766666666667%, 96.35966666666667% 70.20266666666667%, 86.80866666666667% 56.522% )
    background: #8401ff
  #b63
    -webkit-clip-path: polygon(86.80866666666667% 56.522%, 85.5% 60.958333333333336%, 92.818% 65.116% )
    clip-path: polygon(86.80866666666667% 56.522%, 85.5% 60.958333333333336%, 92.818% 65.116% )
    background: transparent
  #b64
    -webkit-clip-path: polygon(77.21966666666667% 59.653%, 86.80866666666667% 56.522%, 85.5% 60.958333333333336% )
    clip-path: polygon(77.21966666666667% 59.653%, 86.80866666666667% 56.522%, 85.5% 60.958333333333336% )
    background: transparent
  #b65
    -webkit-clip-path: polygon(77.21966666666667% 59.653%, 85.5% 60.958333333333336%, 87.58333333333333% 65.95833333333333% )
    clip-path: polygon(77.21966666666667% 59.653%, 85.5% 60.958333333333336%, 87.58333333333333% 65.95833333333333% )
    background: transparent
  #b66
    -webkit-clip-path: polygon(92.818% 65.116%, 87.58333333333333% 65.95833333333333%, 85.5% 60.958333333333336% )
    clip-path: polygon(92.818% 65.116%, 87.58333333333333% 65.95833333333333%, 85.5% 60.958333333333336% )
    background: transparent
  #b67
    -webkit-clip-path: polygon(78.335% 67.45966666666666%, 92.818% 65.116%, 96.35966666666667% 70.20266666666667% )
    clip-path: polygon(78.335% 67.45966666666666%, 92.818% 65.116%, 96.35966666666667% 70.20266666666667% )
    background: #c471f5
  #b68
    -webkit-clip-path: polygon(77.21966666666667% 59.653%, 83.25% 66.66666666666667%, 87.58333333333333% 65.95833333333333% )
    clip-path: polygon(77.21966666666667% 59.653%, 83.25% 66.66666666666667%, 87.58333333333333% 65.95833333333333% )
    background: transparent
  #b69
    -webkit-clip-path: polygon(77.21966666666667% 59.653%, 78.335% 67.45966666666666%, 83.25% 66.66666666666667% )
    clip-path: polygon(77.21966666666667% 59.653%, 78.335% 67.45966666666666%, 83.25% 66.66666666666667% )
    background: transparent
  #b70
    -webkit-clip-path: polygon(78.335% 67.45966666666666%, 79.87233333333333% 72.433%, 96.35966666666667% 70.20266666666667% )
    clip-path: polygon(78.335% 67.45966666666666%, 79.87233333333333% 72.433%, 96.35966666666667% 70.20266666666667% )
    background: #8401ff
