body.ltr #box div:nth-child(1) {
  transition: clip-path 0.34s 0.22s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.34s 0.02s; }
body.ltr #box div:nth-child(2) {
  transition: clip-path 0.38s 0.24s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.38s 0.04s; }
body.ltr #box div:nth-child(3) {
  transition: clip-path 0.42s 0.26s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.42s 0.06s; }
body.ltr #box div:nth-child(4) {
  transition: clip-path 0.46s 0.28s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.46s 0.08s; }
body.ltr #box div:nth-child(5) {
  transition: clip-path 0.5s 0.3s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.5s 0.1s; }
body.ltr #box div:nth-child(6) {
  transition: clip-path 0.54s 0.32s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.54s 0.12s; }
body.ltr #box div:nth-child(7) {
  transition: clip-path 0.58s 0.34s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.58s 0.14s; }
body.ltr #box div:nth-child(8) {
  transition: clip-path 0.62s 0.36s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.62s 0.16s; }
body.ltr #box div:nth-child(9) {
  transition: clip-path 0.66s 0.38s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.66s 0.18s; }
body.ltr #box div:nth-child(10) {
  transition: clip-path 0.7s 0.4s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.7s 0.2s; }
body.ltr #box div:nth-child(11) {
  transition: clip-path 0.74s 0.42s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.74s 0.22s; }
body.ltr #box div:nth-child(12) {
  transition: clip-path 0.78s 0.44s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.78s 0.24s; }
body.ltr #box div:nth-child(13) {
  transition: clip-path 0.82s 0.46s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.82s 0.26s; }
body.ltr #box div:nth-child(14) {
  transition: clip-path 0.86s 0.48s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.86s 0.28s; }

body.rtl #box div:nth-child(1) {
  transition: clip-path 0.86s 0.55s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.86s 0.28s; }
body.rtl #box div:nth-child(2) {
  transition: clip-path 0.82s 0.525s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.82s 0.26s; }
body.rtl #box div:nth-child(3) {
  transition: clip-path 0.78s 0.5s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.78s 0.24s; }
body.rtl #box div:nth-child(4) {
  transition: clip-path 0.74s 0.475s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.74s 0.22s; }
body.rtl #box div:nth-child(5) {
  transition: clip-path 0.7s 0.45s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.7s 0.2s; }
body.rtl #box div:nth-child(6) {
  transition: clip-path 0.66s 0.425s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.66s 0.18s; }
body.rtl #box div:nth-child(7) {
  transition: clip-path 0.62s 0.4s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.62s 0.16s; }
body.rtl #box div:nth-child(8) {
  transition: clip-path 0.58s 0.375s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.58s 0.14s; }
body.rtl #box div:nth-child(9) {
  transition: clip-path 0.54s 0.35s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.54s 0.12s; }
body.rtl #box div:nth-child(10) {
  transition: clip-path 0.5s 0.325s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.5s 0.1s; }
body.rtl #box div:nth-child(11) {
  transition: clip-path 0.46s 0.3s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.46s 0.08s; }
body.rtl #box div:nth-child(12) {
  transition: clip-path 0.42s 0.275s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.42s 0.06s; }
body.rtl #box div:nth-child(13) {
  transition: clip-path 0.38s 0.25s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.38s 0.04s; }
body.rtl #box div:nth-child(14) {
  transition: clip-path 0.34s 0.225s cubic-bezier(0.7, 0.3, 0, 1), background-color 0.34s 0.02s; }

/*# sourceMappingURL=style.css.map */
